<style>
    .search-btn-trip {
        position: fixed;
        right: 9px;
        top: 12px;
        z-index: 91;
    }
    .ng-table-pager {
        display: none;
    }
    .selected {
        background: #fff1df !important;
    }
    .showHrs .hrs-div{display: none;}
    .showHrs:hover .hrs-div{display: block;}
</style>
<div class="search-btn-trip">
    <form class="form-inline">
        <div class="form-group">
            <div style="max-height: 34px; overflow: hidden;">
                <a
                        ui-sref="home.drivers({city: city,vehicleType: vehicleType})"
                        title="Back"
                        class="btn btn-default no-border">
                    <i class="fa fa-arrow-left" aria-hidden="true"></i>
                </a>
                <a ng-click="vm.getResult()"
                   title="Reload" class="btn btn-default no-border">
                    <i class="fa fa-refresh" aria-hidden="true"></i>
                </a>

                <a class="btn btn-default no-border"
                   title="Add Driver"
                   href="#/home/drivers/onboarding/indore/auto" >
                    <i class="fa fa-plus" aria-hidden="true"></i></a>
            </div>
        </div>
    </form>
</div>
<div class="container-fluid">
    <br>
    <br>
    <br>
    <br>

    <div class="row">
        <div class="col-md-8 col-sm-12 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-body">

                    <form class="form-inline no-mr">
                        <div class="input-group col-md-1">
                            <h4>Search</h4>
                        </div>
                        <div class="input-group col-md-4">
                            <select ng-model="vm.filterTerm" class="form-control"
                                    ng-options="statusFilter.name for statusFilter in vm.filterFields track by statusFilter.value">
                                <option value="" disabled>Select Filter</option>
                            </select>
                        </div>
                        <div class="input-group col-md-4">
                            <input ng-model="vm.searchTerm" class="form-control input-search-term" placeholder="term"
                                   ng-disabled="!vm.filterTerm"/>
                        </div>
                        <div class="input-group col-md-1">
                            <button ng-click="vm.searchTable()"
                                    class="btn btn-search"><span
                                    aria-hidden="true" class="glyphicon glyphicon-search"></span></button>
                        </div>
                    </form>
                    </div>
                </div>
            </div>
        <div class="col-md-4 col-sm-12 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <form class="form-inline no-mr">
                        <div class="input-group col-md-1">
                            <h4>Filter</h4>
                        </div>
                        <div class="input-group col-md-10 pull-right">
                            <select ng-model="vm.statusCodes" ng-change="vm.getResult()" class="form-control"
                                    ng-options="statusFilter.name for statusFilter in vm.driverStatusFilters track by statusFilter.value">
                                <option value="" disabled>Select Status</option>
                            </select>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="panel panel-default" ng-show="vm.showTableData">
                <div class="panel-heading">
                    <div class="pull-right daterangepicker-leaderboard-box">
                        <input ng-change="vm.getResult()"
                               class="form-control cstm-width text-center daterangepicker-leaderboard" type="daterange"
                               ng-model="datesForSearch" separator=" - " format="DD MMM YY"  opens="left" ranges="vm.ranges">
                    </div>
                    <h4 style="margin-top: 0" class="title">Results</h4></div>
                <div class="panel-body">

                    <div class="table-responsive">
                        <table ng-table="tableParams" class="table table-bordered table-striped text-center no-mr">
                            <!--<thead>
                                <tr>
                                    <th width="120" style="text-align:left;">#ID</th>
                                    <th width="200" style="text-align:left;">Name</th>
                                    <th width="120" style="text-align:right;">Earning(Rs.)</th>
                                    <th width="120">Rides</th>
                                    <th style="text-align:left;">Online</th>

                                </tr>
                            </thead>-->
                            <tbody>
                            <tr ng-repeat="row in $data track by $index" ng-click="vm.setSelected(row.driver_id)"  ng-class="{selected : row.driver_id === vm.selectedRow}">
                                <td data-title="'#ID'" class="text-left"><a
                                        ui-sref="home.drivers_detail({driverId:row.driver_id})">{{row.driver_id}}</a>
                                </td>
                                <td data-title="'Name'" sortable="'name'" class="text-left">
                                    <a target="_blank"
                                       ui-sref="home.drivers_detail({driverId:row.driver_id})">
                                        {{row.name}}
                                    </a>
                                </td>
                                <td data-title="'Phone'" class="text-right">
                                    {{row.phone}}
                                </td>
                                <td data-title="'State'" sortable="'state'" class="text-center">
                                <span ng-if="row.state== 22" class="text-warning">
                                    Occupied
                                </span>
                                <span ng-if="row.state== 11" class="text-success">
                                    Online
                                </span>
                                <span ng-if="row.state== 10" class="text-danger">
                                    Offline
                                </span>
                                </td>
                                <td data-title="'App Version'" class="text-right">
                                    {{row.app_version}}
                                </td>
                                <td data-title="'Earning(Rs.)'" sortable="'earning'" class="text-right">
                                    {{row.earning}}
                                </td>
                                <td data-title="'Trips'" sortable="'rides'">{{row.rides}}</td>
                                <td class="text-left showHrs" data-title="'Online Hours'" width="130">
                                    {{row.online}}
                                    <div class="hrs-div">
                                        <span ng-repeat="row1 in row.onlineTime" style="background:#f9f9f9; border:1px solid #eee; margin-bottom: 2px; padding: 2px; display: inline-block; color: #999;">{{(row1.start)*1000 | date:'HH:mm:ss'}} - {{(row1.end)*1000 | date:'HH:mm:ss'}}</span>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
                <br>
                <br>
            </div>
            <div class="alert alert-warning fade in" ng-show="!vm.showTableData">
                <strong>oops!</strong> no result found.
            </div>
            </div>
        </div>
    </div>
</div>