<div class="container-fluid"  ng-if="vm.overview.driver.total_drivers">
    <div class="row" style="z-index:1; position:fixed; width:98%; padding:10px 0; left:53px;">
            <div class="col-md-12 col-sm-12 col-xs-12">
            	<span ng-click="vm.changeDate('prev')" style="display: inline-block; padding: 7px;">&#10094;</span> <span class="text-center" ng-model="date" style="display: inline-block; padding: 7px 0;">{{date}}</span> <span ng-click="vm.changeDate('next')" ng-if="!vm.live" style="display: inline-block; padding: 7px;">&#10095;</span>
            </div>
            </div>
            <span class="live" ng-if="vm.live"> LIVE</span>
            <span class="reload" ng-click="vm.refreshPage()"><i class="fa fa-refresh" aria-hidden="true"></i></span>
    <br>
    <br>
    <br>
    <br><br>
    <div class="row overview-box">
        <span class="reload" ng-click="vm.refreshPage()"><i class="fa fa-refresh" aria-hidden="true"></i>
</span>

        <div class="col-md-12 col-sm-12 col-xs-12 text-center">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="col-md-2 col-sm-4 col-xs-12 no-mr no-pd">
                        <div class="box box-heading box-1 text-center">
                            <h4 class="title">DRIVERS</h4>

                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-6">
                        <div class="box">
                            <h4 class="number">{{ vm.overview.driver.total_drivers}}</h4>
                            <span>Total</span>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-6">
                        <div class="box">
                            <h4 class="number">{{vm.overview.driver.free_drivers}}</h4>
                            <span>Free</span>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-6">
                        <div class="box">
                            <h4 class="number">{{vm.overview.driver.occupied_drivers}}</h4>
                            <span>Occupied</span>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-6">
                        <div class="box">
                            <h4 class="number">{{vm.overview.driver.online_drivers_percentage | number:2}}%</h4>
                            <span>Online</span>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-6">
                        <div class="box">
                            <h4 class="number">{{vm.overview.driver.utilization_percentage | number:2}}%</h4>
                            <span>Utilization</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                <div class="pull-right">
					<input ng-change="vm.getAcquisition()" class="form-control cstm-width text-center daterangepicker-aqq-chart" type="daterange" ng-model="datesForAcq" separator=" - " format="DD MMM YY" opens="left" ranges="vm.ranges">
				</div>
                    <h4 style="margin-top: 0" class="title">Driver Acquisition</h4>
                
                </div>

                <div class="panel-body">
                    <div>
                        <nvd3 options="vm.acquisitionChart" data="vm.acquisitionData" config="vm.config"></nvd3>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12" ngsf-fullscreen>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 style="margin-top: 0" class="title">Top Drivers</h4></div>
                <div class="panel-body">

                    <div>
                        <table ng-table="tableParams"
                               class="table table-responsive table-bordered table-striped global-tbl text-center">
                            <!--<thead>
                                <tr>
                                    <th width="120" style="text-align:left;">#ID</th>
                                    <th width="200" style="text-align:left;">Name</th>
                                    <th width="120" style="text-align:right;">Earning(Rs.)</th>
                                    <th width="120">Rides</th>
                                    <th style="text-align:left;">Online</th>

                                </tr>
                            </thead>-->
                            <tbody>
                            <tr ng-repeat="row in $data track by $index">
                                <td data-title="'#ID'" class="text-left"><a ui-sref="home.drivers_detail({driverId:row.driver_id})" >{{row.driver_id}}</a></td>
                                <td data-title="'Name'" sortable="'name'" class="text-left">{{row.name}}</td>
                                <td data-title="'Earning(Rs.)'" sortable="'earning'" class="text-right">
                                    {{row.earning}}
                                </td>
                                <td data-title="'Rides'" sortable="'rides'">{{row.rides}}</td>
                                <td class="text-left" data-title="'Online'">
                                    <div style="max-height: 80px; overflow: auto; display: block;">
                                        <span  ng-repeat="time in row.online"
                                              class="label label-primary">{{time.start*1000 | date:'h:mma'}} - {{time.end*1000 | date:'h:mma'}}</span>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
                <br>
                <br>
            </div>
        </div>
    </div>
</div>