<div class="container-fluid">

    <div class="row">
        <form class="form-inline date-selection date-selection-dr ">

        <span ng-click="vm.changeDate('prev')" style=" position: absolute; left: 63px; top: 18px;">&#10094;</span>

            <div class="form-group ">
                <input class="form-control cstm-width text-left today-date-range hide-bdr" type="text" ng-model="date">
                <!--<input ng-disabled="true" class="form-control cstm-width text-center" type="daterange" ng-model="dates" separator=" - " format="DD MMM YY" opens="right" ranges="vm.ranges">-->
            </div>
            <span ng-click="vm.changeDate('next')" ng-if="!vm.live" style="position: absolute;right: 50px;top: 18px;">&#10095;</span>
            <div class="live" ng-if="vm.live"> LIVE</div>


        </form>
    </div>
    <br>
    <br>
    <br>
    <br>
    <div class="row overview-box">
        <span class="reload" ng-click="vm.refreshPage()"><i class="fa fa-refresh" aria-hidden="true"></i>
</span>
        <div class="col-md-12 col-sm-12 col-xs-12 text-center">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="col-md-2 col-sm-4 col-xs-12 no-mr no-pd">
                        <div class="box box-heading box-1 text-center">
                            <h4 class="title">DRIVERS<sup ng-if="!vm.live" style="font-size:9px; padding:5px"><span style="font-size:6px; margin-right:2px;">&#127934;</span> LIVE</sup></h4>

                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-6">
                        <div class="box">
                            <h4 class="number">{{ vm.overview.driver.total_drivers}}</h4>
                            <span>Total</span>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-6">
                        <div class="box">
                            <h4 class="number">{{vm.overview.driver.free_drivers}}</h4>
                            <span>Free</span>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-6">
                        <div class="box">
                            <h4 class="number">{{vm.overview.driver.occupied_drivers}}</h4>
                            <span>Occupied</span>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-6">
                        <div class="box">
                            <h4 class="number">{{vm.overview.driver.online_drivers_percentage | number:2}}%</h4>
                            <span>Online</span>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-6">
                        <div class="box">
                            <h4 class="number">{{vm.overview.driver.utilization_percentage | number:2}}%</h4>
                            <span>Utilization</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <!--<div class="col-md-12 col-sm-12 col-xs-12" ngsf-fullscreen>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 style="margin-top: 0" class="title">Driver Acquisition</h4></div>
                <div class="panel-body">
                    <div>
                        <nvd3 options="vm.tripChartOptions" data="vm.trips" config="vm.config"></nvd3>
                    </div>
                    <a ngsf-toggle-fullscreen show-if-fullscreen-enabled>
                    </a>
                </div>
            </div>
        </div>-->
        <div class="col-md-12 col-sm-12 col-xs-12" ngsf-fullscreen>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 style="margin-top: 0" class="title">Top Drivers</h4></div>
                <div class="panel-body">

                    <div>
                        <table ng-table="tableParams" class="table table-responsive table-bordered table-striped global-tbl text-center">
                            <!--<thead>
                                <tr>
                                    <th width="120" style="text-align:left;">#ID</th>
                                    <th width="200" style="text-align:left;">Name</th>
                                    <th width="120" style="text-align:right;">Earning(Rs.)</th>
                                    <th width="120">Rides</th>
                                    <th style="text-align:left;">Online</th>

                                </tr>
                            </thead>-->
                            <tbody>
                                <tr ng-repeat="row in $data track by $index">
                                    <td  data-title="'#ID'" sortable="'driver_id'" class="text-left">{{row.driver_id}}</td>
                                    <td  data-title="'Name'" sortable="'name'" class="text-left">{{row.name}}</td>
                                    <td  data-title="'Earning(Rs.)'" sortable="'earning'" class="text-right">{{row.earning}}</td>
                                    <td data-title="'Rides'" sortable="'rides'">{{row.rides}}</td>
                                    <td class="text-left">
                                    <div style="max-height: 80px; overflow: auto; display: block;">
                                    <span data-title="'Online'" ng-repeat="time in row.online" class="label label-primary">{{time.start*1000 | date:'h:mma'}} - {{time.end*1000 | date:'h:mma'}}</span>
                                   </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
                <br>
                <br>
            </div>
        </div>
    </div>
</div>