<style>

    table {
        overflow: hidden;
    }

    tr:hover {
        background-color: #ffa;
    }
    th {
        background-color: #fff;
    }
    td, th {
        position: relative;
        text-transform: uppercase;
    }
    td:hover::after,
    th:hover::after {
        content: "";
        position: absolute;
        background-color: #ffa;
        left: 0;
        top: -5000px;
        height: 10000px;
        width: 100%;
        z-index: -1;
    }


</style>
<div class="container-fluid">
    <div class="row" style="z-index:1; position:fixed; width:auto; padding:10px 0; left:53px;">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <span ng-click="vm.changeDate('prev')" style="display: inline-block; padding: 7px;">&#10094;</span> <span
                class="text-center" ng-model="date" style="display: inline-block; padding: 7px 0;">{{date}}</span> <span
                ng-click="vm.changeDate('next')" ng-if="!vm.live"
                style="display: inline-block; padding: 7px;">&#10095;</span>
        </div>
    </div>
    <span class="live" ng-if="vm.live"> LIVE</span>
    <span class="reload" ng-click="vm.refreshPage()"><i class="fa fa-refresh" aria-hidden="true"></i></span>
    <br>
    <br>
    <br>
    <br><br>

    <div class="row" id="matrixChartDiv">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <form class="form-inline no-mr pull-right">
                <div class="input-group">
                    <select ng-model="vm.filterFreq" ng-change="vm.getRiders()" class="form-control"
                            ng-options="riderFilters.name for riderFilters in vm.riderFiltersOption track by riderFilters.value">
                        <option value="" disabled>Select Frequency</option>
                    </select>
                </div>
            </form>
            <h4 style="margin-top: 0" class="title">Rider Acquisition</h4>
            <br>
            <table style="width: 100%;" border="0" cellpadding="0" cellspacing="0" class="table table-bordered">
                <tbody>
                <tr class="row-th-1">
                    <th style="background: #fff;"></th>
                    <th class="text-right" ng-repeat="item in vm.rider[0].values track by $index">
                        {{item.timeLine}}
                    </th>
                </tr>
                <tr ng-repeat="row in vm.rider track by $index" class="row-th-2">

                    <th class="text-center" >
                        {{row.frequency}}
                    </th>
                    <td class="text-right"  ng-repeat="item in row.values track by $index">
                        {{item.total_request}} / {{item.fulfill_request}}
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>