
<div class="flx-container flx-performance">
    <div class="flx-cnt-right">
        <div>
            <h4>{{ vm.trips.overview.cum_trip_request}}</h4>
            <span>Cumulative number of trip requests</span>

        </div>
        <div>
            <h4>{{ vm.trips.overview.cum_successful_trip}}</h4>
            <span>Cumulative number of successful trips</span>

        </div>
        <div>
            <h4>{{ vm.trips.overview.cum_fare| number:2}}</h4>
            <span>Cumulative fare</span>

        </div>
        <div>
            <h4>{{ vm.trips.overview.cum_avg_burn | number:2}}</h4>
            <span>Cumulative average burn</span>

        </div>
        <div>
            <h4>&nbsp;{{ vm.trips.overview.cum_new_riders}}</h4>
            <span>Cumulative new riders</span>

        </div>
    </div>
</div>
<br><br>
<div class="container-fluid">

    <div class="row">
        <div class="col-md-12">
            <div class="col-md-12">
                <div style="height: 60px;">
                <div class="pull-right">
                    <div class="col-xs-6">
                        <input class="form-control" type="daterange" ng-model="dates" separator="/" format="YYYY-MM-DD" opens="left">
                    </div>
                    <div class="col-xs-6">
                        <select ng-model="vm.selectedFrequency" class="form-control"
                                ng-change="vm.changeFrequency()"
                                ng-options="frequency.label for frequency in vm.timeFrequency track by frequency.value"></select>
                       <!-- <select class="form-control">
                            <option>Per Hour</option>
                            <option>Per Day</option>
                        </select>-->
                    </div>
                </div>
                <h3 style="margin-top: 0">Trips</h3>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <h4 style="margin-top: 0">Requests</h4>
                                <br>
                                <div class="table-responsive">
                                    <nvd3 options="vm.tripChartOptions" data="vm.trips" config="vm.config"></nvd3>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
             </div>
        </div>
    </div>
</div>

