<div class="container-fluid">
    <div class="row">
    <form class="form-inline date-selection"	>
                <div class="form-group ">
                    <input ng-change="vm.getAllData()" class="form-control cstm-width text-center" type="daterange" ng-model="tripDates" separator=" - " format="DD MMM YY" opens="right" ranges="vm.ranges">
                </div>
		</form>
		<br>
        <div class="col-md-6 col-md-offset-6">
			<div class="flx-container flx-performance">
    	<div class="flx-cnt-right">
        <div class="text-left">
            
            <span class="pull-left" style="padding:4px 10px 4px 0"><img src="assets/images/trip-req.svg" title="Tuktuk" height="45"></span>
            <span><h4>{{ vm.trips.overview.cum_trip_request}}</h4></span>
            <br>
            <span>Bookings</span>
            
        </div>
        <div class="text-left">
        	<span class="pull-left" style="padding:4px 10px 4px 0"><img src="assets/images/trip-suc.svg" title="Tuktuk" height="45"></span>
        	<span><h4>{{ vm.trips.overview.cum_successful_trip}}</h4></span>
        	<br>
            <span>Successful</span>
        </div>
        <div class="text-left">
        	<span class="pull-left" style="padding:4px 10px 4px 0"><img src="assets/images/new-rider.svg" title="Tuktuk" height="45"></span>
        	<span><h4>{{ vm.riders.overview.cum_new_rider}}</h4></span>
        	<br>
            <span>New Riders</span>
        </div>
    </div>
</div>
		</div>
	</div>

    <div class="row">
        <div class="col-md-6"></div>
        <div class="col-md-6 text-right">
            <form class="form-inline">

                <!--<div class="form-group ">
                    <input ng-change="vm.getTrips()" class="form-control cstm-width" type="daterange" ng-model="tripDates" separator="/" format="DD-MMM-YY" opens="left" ranges="vm.ranges">
                </div>-->
                <div class="form-group " style="margin-top:15px">
                	<div class="radio inpt-style">
                        <label><input type="radio"  ng-change="vm.changeFrequency('trip', vm.tripFrequency.value)" name="optradio" ng-model="vm.tripFrequency.value" value="hour"><i></i> <span>Per Hour</span></label>
						<label><input type="radio" ng-change="vm.changeFrequency('trip', vm.tripFrequency.value)" name="optradio" ng-model="vm.tripFrequency.value" value="day"> <i></i> <span>Per Day</span></label>

					</div>
                 <!--   <select ng-model="vm.tripFrequency" class="form-control"
                            ng-change="vm.changeFrequency('trip', vm.tripFrequency)"
                            ng-options="frequency.label for frequency in vm.timeFrequency track by frequency.value">
                    </select>-->
                </div>
            </form>
        </div>
    </div>
        <br>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
            <div class="panel-heading">
                    <h4 style="margin-top: 0" class="title">Trips</h4></div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <nvd3 options="vm.tripChartOptions" data="vm.trips" config="vm.config"></nvd3>
                    </div>
                </div>
            </div>
        </div>
    </div>

	<div class="row">
        <div class="col-md-6">
			<!---Driver--->
			    <div class="row">
        <div class="col-md-6"></div>
        <div class="col-md-6 text-right">
            <form class="form-inline">
                <!--<div class="form-group ">
                    <input ng-change="vm.getDrivers()"class="form-control cstm-width" type="daterange" ng-model="driverDates" separator="/" format="DD-MMM-YY" opens="right" ranges="vm.ranges"/>
                </div>-->
                <div class="form-group " style="margin-top:15px">
                <div class="radio inpt-style">
                    <label><input type="radio" name="optradio" ng-change="vm.changeFrequency('driver',vm.driverFrequency.value)" ng-model="vm.driverFrequency.value" value="hour"><i></i> <span>Per Hour</span></label>
                    <label><input type="radio" name="optradio" ng-change="vm.changeFrequency('driver',vm.driverFrequency.value)" ng-model="vm.driverFrequency.value" value="day"> <i></i> <span>Per Day</span></label>
					</div>
                  <!--  <select ng-model="vm.driverFrequency" class="form-control"
                            ng-change="vm.changeFrequency('driver',vm.driverFrequency)"
                            ng-options="frequency.label for frequency in vm.timeFrequency track by frequency.value">
                    </select>-->
                </div>
            </form>
        </div>
    </div>
			    <br>
			    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
             <div class="panel-heading">
                    <h4 style="margin-top: 0" class="title">Driver</h4></div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <nvd3 options="vm.driverChartOptions" data="vm.drivers" config="vm.config"></nvd3>
                    </div>
                </div>
            </div>
        </div>
    </div>
		</div>

		<div class="col-md-6">
			<!--Rider-->
    			<div class="row">
        <div class="col-md-6"></div>
        <div class="col-md-6 text-right">
            <form class="form-inline">
                <!--<div class="form-group ">
                    <input ng-change="vm.getRiders()" class="form-control cstm-width" type="daterange" ng-model="riderDates" separator="/" format="DD-MMM-YY" opens="left" ranges="vm.ranges">
                </div>-->
                <div class="form-group " style="margin-top:15px">
                <div class="radio inpt-style">
                    <label><input type="radio" name="optradio" ng-change="vm.changeFrequency('rider', vm.riderFrequency.value)" ng-model="vm.riderFrequency.value" value="hour"><i></i> <span>Per Hour</span></label>
                    <label><input type="radio" name="optradio" ng-change="vm.changeFrequency('rider', vm.riderFrequency.value)" ng-model="vm.riderFrequency.value" value="day"> <i></i> <span>Per Day</span></label>
					</div>
                       <!-- <select ng-model="vm.riderFrequency" class="form-control"
                                ng-change="vm.changeFrequency('rider', vm.riderFrequency)"
                                ng-options="frequency.label for frequency in vm.timeFrequency track by frequency.value">
                        </select>-->
                </div>
            </form>
        </div>
    </div>
    			<br>
    			<div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
            <div class="panel-heading">
                    <h4 style="margin-top: 0" class="title">Rider</h4></div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <nvd3 options="vm.riderChartOptions" data="vm.riders" config="vm.config"></nvd3>
                    </div>
                </div>
            </div>
        </div>
    </div>
		</div>
	</div>
</div>