
<div class="flx-container flx-performance">
    <div class="flx-cnt-right">
        <div>
            <h4>Cumulative number of trip requests</h4>
            <span>{{cum_trip_request}}</span>
        </div>
        <div>
            <h4>Cumulative number of successful trips</h4>
            <span>{{cum_successful_trip}}</span>
        </div>
        <div>
            <h4>Cumulative fare</h4>
            <span>{{cum_fare}}</span>
        </div>
        <div>
            <h4>Cumulative average burn</h4>
            <span>{{cum_avg_burn}}</span>
        </div>
        <div>
            <h4>Cumulative new riders</h4>
            <span>{{cum_new_riders}}</span>
        </div>
    </div>
</div>
<br><br>
<div class="container-fluid">

    <div class="row">
        <div class="col-md-12">
            <div class="col-md-12">
                <div style="height: 60px;">
                <div class="pull-right">
                    <div class="col-xs-6">
                        <input class="form-control" type="daterange" ng-model="dates" separator="/" format="YYYY-MM-DD" opens="left">
                    </div>
                    <div class="col-xs-6">
                        <select ng-model="vm.selectedFrequency" class="form-control"
                                ng-change="vm.changeFrequency()"
                                ng-options="frequency.label for frequency in vm.timeFrequency track by frequency.value"></select>
                       <!-- <select class="form-control">
                            <option>Per Hour</option>
                            <option>Per Day</option>
                        </select>-->
                    </div>
                </div>
                <h3 style="margin-top: 0">Trips</h3>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <h4 style="margin-top: 0">Requests</h4>
                                <br>
                                <div class="table-responsive">
                                    <nvd3 options="options" data="data"></nvd3>
                                    <!--<table ng-table="vm.requestTableParams" class="table table-bordered table-striped">
                                        <thead>
                                        <tr>
                                            <th>Hour/Day</th>
                                            <th>Total</th>
                                            <th>By Unique Riders</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="row in vm.trips track by $index">
                                            <td>{{row.duration}}</td>
                                            <td>100</td>
                                            <td>70</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <nav>
                                        <ul class="pagination">
                                            <li><a aria-label="Previous" href="#"><span aria-hidden="true">«</span></a></li>
                                            <li><a href="#">1</a></li>
                                            <li><a href="#">2</a></li>
                                            <li><a href="#">3</a></li>
                                            <li><a href="#">4</a></li>
                                            <li><a href="#">5</a></li>
                                            <li><a aria-label="Next" href="#"><span aria-hidden="true">»</span></a></li>
                                        </ul>
                                    </nav>-->
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-6">

                        <div class="panel panel-default">
                            <div class="panel-body">
                                <h4 style="margin-top: 0">Cancelled</h4>
                                <br>

                                <div class="table-responsive">
                                    <table class="table table-bordered table-striped">
                                        <thead>
                                        <tr>
                                            <th>Hour/Day</th>
                                            <th>By Riders</th>
                                            <th>By Unique Riders</th>
                                            <th>By Drivers</th>
                                            <th>By Drivers for unique Riders</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>6:00-7:00</td>
                                            <td>100</td>
                                            <td>70</td>
                                            <td>100</td>
                                            <td>70</td>
                                        </tr>
                                        <tr>
                                            <td>7:00-8:00</td>
                                            <td>100</td>
                                            <td>70</td>
                                            <td>100</td>
                                            <td>70</td>
                                        </tr>
                                        <tr>
                                            <td>8:00-9:00</td>
                                            <td>100</td>
                                            <td>70</td>
                                            <td>100</td>
                                            <td>70</td>
                                        </tr>
                                        <tr>
                                            <td>9:00-10:00</td>
                                            <td>100</td>
                                            <td>70</td>
                                            <td>100</td>
                                            <td>70</td>
                                        </tr>
                                        <tr>
                                            <td>11:00-12:00</td>
                                            <td>100</td>
                                            <td>70</td>
                                            <td>100</td>
                                            <td>70</td>
                                        </tr>
                                        <tr>
                                            <td>12:00-13:00</td>
                                            <td>100</td>
                                            <td>70</td>
                                            <td>100</td>
                                            <td>70</td>
                                        </tr>

                                        </tbody>
                                    </table>
                                    <nav>
                                        <ul class="pagination">
                                            <li><a aria-label="Previous" href="#"><span aria-hidden="true">«</span></a></li>
                                            <li><a href="#">1</a></li>
                                            <li><a href="#">2</a></li>
                                            <li><a href="#">3</a></li>
                                            <li><a href="#">4</a></li>
                                            <li><a href="#">5</a></li>
                                            <li><a aria-label="Next" href="#"><span aria-hidden="true">»</span></a></li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <h4 style="margin-top: 0">Requests Cancelled (before allocation) </h4>
                                <br>

                                <div class="table-responsive">
                                    <table class="table table-bordered table-striped">
                                        <thead>
                                        <tr>
                                            <th>Hour/Day</th>
                                            <th>Total</th>
                                            <th>By Unique Riders</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>6:00-7:00</td>
                                            <td>100</td>
                                            <td>70</td>
                                        </tr>
                                        <tr>
                                            <td>7:00-8:00</td>
                                            <td>100</td>
                                            <td>70</td>
                                        </tr>
                                        <tr>
                                            <td>8:00-9:00</td>
                                            <td>100</td>
                                            <td>70</td>
                                        </tr>
                                        <tr>
                                            <td>9:00-10:00</td>
                                            <td>100</td>
                                            <td>70</td>
                                        </tr>
                                        <tr>
                                            <td>11:00-12:00</td>
                                            <td>100</td>
                                            <td>70</td>
                                        </tr>
                                        <tr>
                                            <td>12:00-13:00</td>
                                            <td>100</td>
                                            <td>70</td>
                                        </tr>

                                        </tbody>
                                    </table>
                                    <nav>
                                        <ul class="pagination">
                                            <li><a aria-label="Previous" href="#"><span aria-hidden="true">«</span></a></li>
                                            <li><a href="#">1</a></li>
                                            <li><a href="#">2</a></li>
                                            <li><a href="#">3</a></li>
                                            <li><a href="#">4</a></li>
                                            <li><a href="#">5</a></li>
                                            <li><a aria-label="Next" href="#"><span aria-hidden="true">»</span></a></li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <h4 style="margin-top: 0">Unfulfilled</h4>
                                <br>

                                <div class="table-responsive">
                                    <table class="table table-bordered table-striped">
                                        <thead>
                                        <tr>
                                            <th>Hour/Day</th>
                                            <th>Total</th>
                                            <th>For Unique Riders</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>6:00-7:00</td>
                                            <td>100</td>
                                            <td>70</td>
                                        </tr>
                                        <tr>
                                            <td>7:00-8:00</td>
                                            <td>100</td>
                                            <td>70</td>
                                        </tr>
                                        <tr>
                                            <td>8:00-9:00</td>
                                            <td>100</td>
                                            <td>70</td>
                                        </tr>
                                        <tr>
                                            <td>9:00-10:00</td>
                                            <td>100</td>
                                            <td>70</td>
                                        </tr>
                                        <tr>
                                            <td>11:00-12:00</td>
                                            <td>100</td>
                                            <td>70</td>
                                        </tr>
                                        <tr>
                                            <td>12:00-13:00</td>
                                            <td>100</td>
                                            <td>70</td>
                                        </tr>

                                        </tbody>
                                    </table>
                                    <nav>
                                        <ul class="pagination">
                                            <li><a aria-label="Previous" href="#"><span aria-hidden="true">«</span></a></li>
                                            <li><a href="#">1</a></li>
                                            <li><a href="#">2</a></li>
                                            <li><a href="#">3</a></li>
                                            <li><a href="#">4</a></li>
                                            <li><a href="#">5</a></li>
                                            <li><a aria-label="Next" href="#"><span aria-hidden="true">»</span></a></li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">

                        <div class="panel panel-default">
                            <div class="panel-body">
                                <h4 style="margin-top: 0">Success</h4>
                                <br>

                                <div class="table-responsive">
                                    <table class="table table-bordered table-striped">
                                        <thead>
                                        <tr>
                                            <th>Hour/Day</th>
                                            <th>Total</th>
                                            <th>For Unique Riders</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>6:00-7:00</td>
                                            <td>100</td>
                                            <td>70</td>
                                        </tr>
                                        <tr>
                                            <td>7:00-8:00</td>
                                            <td>100</td>
                                            <td>70</td>
                                        </tr>
                                        <tr>
                                            <td>8:00-9:00</td>
                                            <td>100</td>
                                            <td>70</td>
                                        </tr>
                                        <tr>
                                            <td>9:00-10:00</td>
                                            <td>100</td>
                                            <td>70</td>
                                        </tr>
                                        <tr>
                                            <td>11:00-12:00</td>
                                            <td>100</td>
                                            <td>70</td>
                                        </tr>
                                        <tr>
                                            <td>12:00-13:00</td>
                                            <td>100</td>
                                            <td>70</td>
                                        </tr>

                                        </tbody>
                                    </table>
                                    <nav>
                                        <ul class="pagination">
                                            <li><a aria-label="Previous" href="#"><span aria-hidden="true">«</span></a></li>
                                            <li><a href="#">1</a></li>
                                            <li><a href="#">2</a></li>
                                            <li><a href="#">3</a></li>
                                            <li><a href="#">4</a></li>
                                            <li><a href="#">5</a></li>
                                            <li><a aria-label="Next" href="#"><span aria-hidden="true">»</span></a></li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <br>

                                <div class="col-xs-4 text-left">
                                    <h3 style="margin-top: 0">80%</h3>
                                    <h4 style="margin-top: 0">Fulfillment</h4>
                                </div>
                                <div class="col-xs-4 text-left">
                                    <h3 style="margin-top: 0">6000</h3>
                                    <h4 style="margin-top: 0">Total Fare</h4>
                                </div>
                                <div class="col-xs-4 text-left">
                                    <h3 style="margin-top: 0">8000</h3>
                                    <h4 style="margin-top: 0">Total Cash collected</h4>
                                    <br><br>
                                </div>

                                <div class="col-xs-4 text-left">
                                    <h3 style="margin-top: 0">7000</h3>
                                    <h4 style="margin-top: 0">Driver's earning</h4>
                                </div>
                                <div class="col-xs-4 text-left">
                                    <h3 style="margin-top: 0">1000</h3>
                                    <h4 style="margin-top: 0">tCASH Used</h4>
                                </div>
                                <div class="col-xs-4 text-left">
                                    <h3 style="margin-top: 0">100</h3>
                                    <h4 style="margin-top: 0">Average Burn Per Trip</h4>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <hr><br>
            </div>
            <div class="col-md-6">
                <h3 style="margin-top: 0">Riders</h3>

                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <br>

                                <div class="col-xs-4 text-left">
                                    <h3 style="margin-top: 0">80%</h3>
                                    <h4 style="margin-top: 0">Total Riders</h4>
                                </div>
                                <div class="col-xs-4 text-left">
                                    <h3 style="margin-top: 0">6000</h3>
                                    <h4 style="margin-top: 0">New Riders Registered</h4>
                                </div>
                                <div class="col-xs-4 text-left">
                                    <h3 style="margin-top: 0">8000</h3>
                                    <h4 style="margin-top: 0">Total Active Riders</h4>
                                    <br><br>
                                </div>

                                <div class="col-xs-4 text-left">
                                    <h3 style="margin-top: 0">7000</h3>
                                    <h4 style="margin-top: 0">Total Unique Active Riders</h4>
                                </div>
                                <div class="col-xs-4 text-left">
                                    <h3 style="margin-top: 0">1000</h3>
                                    <h4 style="margin-top: 0">Average Rider Feedback</h4>
                                </div>
                                <div class="col-xs-4 text-left">
                                    <h3 style="margin-top: 0">100</h3>
                                    <h4 style="margin-top: 0">Average Driver Feedback</h4>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-md-6">
                <h3 style="margin-top: 0">Drivers</h3>

                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <br>

                                <div class="col-xs-4 text-left">
                                    <h3 style="margin-top: 0">80%</h3>
                                    <h4 style="margin-top: 0">Total Online </h4>
                                </div>
                                <div class="col-xs-4 text-left">
                                    <h3 style="margin-top: 0">6000</h3>
                                    <h4 style="margin-top: 0">Total Offline</h4>
                                </div>
                                <div class="col-xs-4 text-left">
                                    <h3 style="margin-top: 0">8000</h3>
                                    <h4 style="margin-top: 0">Total Time Available</h4>
                                    <br><br>
                                </div>

                                <div class="col-xs-4 text-left">
                                    <h3 style="margin-top: 0">7000</h3>
                                    <h4 style="margin-top: 0">Average Number of Rides Per Driver</h4>
                                </div>
                                <div class="col-xs-4 text-left">
                                    <h3 style="margin-top: 0">1000</h3>
                                    <h4 style="margin-top: 0">Capacity Utilization</h4>
                                </div>
                                <div class="col-xs-4 text-left">
                                    <h3 style="margin-top: 0">100</h3>
                                    <h4 style="margin-top: 0">Average Rider Feedback</h4>
                                    <br><br>
                                </div>
                                <div class="col-xs-4 text-left">
                                    <h3 style="margin-top: 0">100</h3>
                                    <h4 style="margin-top: 0">Average Driver Feedback</h4>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

