@media only screen and (max-width: 767px) {
   


    .tab-container {
        padding: 20px 10px;
    }
    .global-tbl table,
    .global-tbl thead,
    .global-tbl tbody,
    .global-tbl th,
    .global-tbl td,
    .global-tbl tr {
        display: block;
    }
    .global-tbl thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
    .global-tbl td {
        /* Behave like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
        white-space: normal;
        text-align:left;
    }
    .global-tbl td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
        text-align:left;
        font-weight: bold;
    }
    .global-tbl td:before { content: attr(data-title); }
    .well {width: 90%;}
    .content .tabs-view {min-width: 300px;}
    .tabs-view .col-md-4 {margin-bottom: 30px;}

    .flx-performance {
        height: auto!important;
    }
    .flx-performance .flx-cnt-right div {
        text-align: left;
        padding: 15px 20px!important;
    }
    .ng-map-info-window {width: 310px!important;}
    .cstm-width {
        min-width: inherit!important;
        max-width: inherit!important;
    }

}
