* {
    outline: none !important;
    font-size: 12px;
}

body {
    background: #efefef;
    font-family: Roboto, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 12px;
    color: #333;
    min-width: 320px;
    font-weight: 400;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
}

.alert-container {
    background: #fff;
}

input[type="radio"] {
    margin: 2px 0 0;
}

.geo-hash-box {
    position: relative;
}

.geo-hash-label {
    position: absolute;
    z-index: 1;
}

.time-picker .btn-link {
    font-weight: 100;
    color: #333;
    border-radius: 0 !important;
    border: none !important;
    margin: 0;
    padding: 0;
}

.time-picker .btn-link .glyphicon {
    font-size: 10px;
}

#matrixChart svg {
    display: inline-block;
    position: relative;
    width: 100%;
    /*padding-bottom: 100%; *//* aspect ratio */
    vertical-align: top;
    overflow: hidden;
}

.ngdialog-open .container-fluid {
    pointer-events: none;
}

/*.ngdialog {*/
/*z-index: 10000;*/
/*width:100%;*/
/*height:100%;*/
/*background-color: rgba(0,0,0,0.5);*/
/*}*/
.ngdialog-close {
    position: absolute;
    right: 12px;
    top: 4px;
}

.ngdialog-content {
    animation: 0.5s ease 0s normal none 1 running ngdialog-fadein;
    background: #fff none repeat scroll 0 0;
    border: 1px solid #eee;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    bottom: 0;
    left: 40%;
    max-width: 327px;
    overflow: auto;
    padding: 20px;
    position: absolute;
    top: 17%;
    pointer-events: all;
    height: 30%;
    max-height: 130px;
}

.surge-dialog .ngdialog-content {
    max-width: 650px;
    max-height: 310px;
    width: 650px;
    height: 310px;
}

.navbar-default {
    background-color: #fff;
    border-color: #e7e7e7;
}

.nav.nav-stacked li.active {
    background: #f9f9f9 none repeat scroll 0 0;
    border-left: 4px solid gold;
}

.nav.sub-nav {
    background: #fff;
    border-left: 0px solid gold;
    padding-left: 30px;
}

.nav.sub-nav li a {
    font-size: 12px;
}

.btn {
    border: 1px solid #ccc;
    border-radius: 0;
    background-color: #fff;
}

.btn-success {
    background-color: #5cb85c;
    border-color: #4cae4c;
    color: #fff;
}

.btn-search {
    border: 1px solid transparent;
    color: #e67a5a;
}

.btn-add {
    border: 1px solid transparent;
    color: #178c6e;
    font-size: 10px;
}

.btn-del {
    border: 1px solid transparent;
    color: #cb2930;
    font-size: 10px;
}

.btn-tag-delete {
    background: #fff;
    border: 1px solid transparent;
    color: #fff;
}

button, input, optgroup, textarea, select {
    border: 1px solid #ddd !important;
}

.table > thead > tr > th {
    background: #f9f9f9;
}

.app-loader {
    position: absolute;
    top: 30%;
    left: 46%;
    z-index: 200000000;
    width: 150px;
    height: 130px;
    display: block;
    background-color: rgba(0, 0, 0, 0.4);
}

.input-search-term {
    height: 32px;
    vertical-align: middle;
    padding: 0 8px;
}

/* ng-map {width:100%; height:100%;position: absolute;} */
a:focus {
    outline: none;
    outline-offset: 0;
}

h4 small, .h4 small, h5 small, .h5 small, h6 small, .h6 small, h4 .small, .h4 .small, h5 .small, .h5 .small, h6 .small, .h6 .small {
    color: #666;
    font-size: 65%;
    font-weight: 200;
}

i {
    font-style: normal;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-weight: 300;
}

h4, .h4 {
    font-size: 16px;
}

.rzslider span {
    font-size: 10px;
}

.rzslider .rz-pointer::after {
    height: 8px;
    left: 7px;
    top: 7px;
    width: 8px;
}

.toggle-menu-close {
    background: #fff;
    cursor: pointer;
    padding: 15px;
    position: absolute;
    right: -54px;
}

.rzslider .rz-pointer {
    background-color: #0db9f0;
    border-radius: 16px;
    height: 21px;
    top: -10px;
    width: 21px;
}

button, input, optgroup, textarea, select {
    color: initial;
}

.panel-heading {
    border-radius: 0;
}

div.panel.panel-default div.panel-heading h4.title {
    margin-bottom: 0;
}

.live {
    background-color: rgb(48, 176, 58);
    border-radius: 100%;
    height: 12px;
    line-height: 12px;
    position: fixed;
    left: 49%;
    text-indent: 17px;
    top: 21px;
    width: 12px;
    z-index: 9999999;
}

.geo-hash-select {
    position: fixed;
    right: 30px;
    top: 12px;
    z-index: 9999999;
}

.rzslider .rz-pointer.rz-active::after {
    background-color: #eee;
}

.label {
    font-weight: normal;
    margin: 0 2px 2px 0;
    display: inline-block;
    white-space: normal;
    float: left;
}

.label.label-default {
    border-radius: 0;
    display: inline-block;
    font-size: 12px;
    font-weight: 400;
    margin: 0 2px 2px 0;
    padding: 8px 10px;
    white-space: normal;
}

.label.label-success {
    border-radius: 0;
    display: inline-block;
    font-size: 12px;
    font-weight: 400;
    margin: 0 2px 2px 0;
    padding: 8px 10px;
    white-space: normal;
}

.label.label-warning {
    border-radius: 0;
    display: inline-block;
    font-size: 12px;
    font-weight: 400;
    margin: 0 2px 2px 0;
    padding: 8px 10px;
    white-space: normal;
}

.label.label-info {
    border-radius: 0;
    display: inline-block;
    font-size: 12px;
    font-weight: 400;
    margin: 0 2px 2px 0;
    padding: 8px 10px;
    white-space: normal;
}

.label-btn {
    background: transparent;
    border: 0 !important;
    border-radius: 0;
    color: #fff;
    font-size: 14px;
    padding: 0 4px;
    line-height: 0;
    height: 18px;
    width: 20px;
}

.reload {
    position: fixed;
    right: 15px;
    top: 17px;
    z-index: 999999999 !important;
}

div.box.box-container div.row div.box table tbody tr td span h4 {
    margin-bottom: 0px;
}

div.box.box-container div.row div.box {
    padding: 20px 0;
}

.panel {
    border-radius: 0;
}

.text-danger {
    color: #d9534f;
}

.text-success {
    color: #5cb85c;
}

.text-warning {
    color: #f0ad4e;
}

.text-info {
    color: #337ab7;
}

.navbar-inverse {
    background: #fff none repeat scroll 0 0;
    border-bottom: medium none;
    color: #eee;
    font-weight: 100;
    height: 54px;
    margin-bottom: 0;
    position: fixed;
}

.navbar-brand {
    padding: 4px;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
    background-color: transparent;
    color: #666;
}

.top-nav .dropdown .dropdown-menu > li > a {
    line-height: 20px;
    font-size: 12px;
    text-transform: uppercase;
}

.navbar-header-toggle {
    padding-left: 250px;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
}

.container-toggle {
    padding-left: 295px;
    transition: all 0.2s ease-in-out 0s;
}

.map-toggle {
    padding-left: 250px;
    transition: all 0.2s ease-in-out 0s;
}

.form-control, .btn {
    border-radius: 4px !important;
    /*padding: 0 8px;*/
    /*width:auto;*/
}

.date-toggle {
    margin-left: 20px !important;
    transition: all 0.2s ease-in-out 0s;
}

.daterangepicker {
    border-radius: 0;
    padding: 18px;

}

input.daterangepicker-aqq-chart {
    line-height: 16px;
    padding: 0px;
    margin: 0px;
    height: 17px;
    font-size: 11px;
    line-height: 16px;
    max-width: 190px;
    min-width: 130px;
}

.daterangepicker .calendar-date, .daterangepicker td.start-date.end-date {
    border-radius: 0px;
}

.range_inputs {
    margin-top: 10px;
}

.daterangepicker button.applyBtn {
    margin-right: 10px
}

.daterangepicker .btn-sm, .daterangepicker .btn-group-sm > .btn,
.daterangepicker .input-mini {
    border-radius: 0 !important;
}

.daterangepicker, .daterangepicker .calendar th, .daterangepicker .calendar td {
    font-size: 12px;
}

.date-selection-dr {
    margin-left: 90px;
    padding: 10px 60px 10px 0 !important;
}

.daterangepicker .ranges li {
    background: none;
    border: none;
    border-radius: 0;
    cursor: pointer;
    font-size: 12px;
    margin-bottom: 2px;
    padding: 4px 10px;
}

.daterangepicker .ranges li:last-child {
    margin-bottom: 14px;
}

.daterangepicker .ranges li.active, .daterangepicker .ranges li:hover {
    background: #eee;
    border: 0px solid #08c;
    color: #333;
}

.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
    margin: 0px;
}

.tg-menu {
    color: #ccc;
    cursor: pointer;
    display: block;
    float: left;
    font-size: 28px;
    line-height: 0;
    padding: 15px;
}

.navbar-toggle {
    margin-top: 12px;
    border: none;
    font-size: 18px;
}

.navbar-collapse.in .nav > li > a {
    line-height: 20px;
}

.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
    background-color: transparent;
}

.navbar-collapse.in {
    position: absolute;
    width: 100%;
    top: 69px;
    padding: 0px 0px 20px 20px;
    background-color: #FFF;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
}

.content {
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
}

.date-selection {
    background: none;
    position: fixed;
    z-index: 9999;
}

.form-inline .radio label {
    margin: 0px;
}

.form-inline .radio input[type="radio"] {
    margin: 0 5px 0 10px;
}

.sidenav-open {
    padding-left: 250px;
}

.sidenav {
    width: 260px;
    position: fixed;
    left: -350px;
    top: 0px;
    bottom: 0;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    box-shadow: 0 8px 17px rgba(0, 0, 0, .2);
    -webkit-box-shadow: 0 8px 17px rgba(0, 0, 0, .2);
    background: #fff;
    /*overflow-y: auto;*/
    /*overflow-x: hidden;*/
}

.sidenav.open {
    left: 0px;
}

/* 
.navbar-static-top {
    z-index: 99999999;
}
 */

.nav-stacked {
    padding: 0;
    z-index: 9;

}

.nav-stacked > li + li {
    margin-top: 0;
}

.nav-stacked li {
    text-transform: uppercase;
}

.nav-stacked li a {
    border-top: 1px solid rgba(0, 0, 0, 0.04);
    color: #333;
    font-size: 14px;
    padding: 15px;
    text-transform: uppercase;
}

.nav-stacked li:last-child a {
    border-bottom: solid 1px rgba(255, 255, 255, 0.1);
}

.nav-stacked li a span {
    display: inline-block;
    padding: 0 20px 0 10px;
    font-size: 16px;
    width: 40px;
}

.nav-stacked .header {
    background: #eee;
    padding: 13px;
    color: #333;
    border-bottom: 1px solid #ddd;
}

.nav > li > a:hover, .nav > li > a:focus {
    background-color: #f9f9f9;
    text-decoration: none;
}

.content-div {
    height: 100%;
    /* padding-top: 70px; */
    position: absolute;
    top: 0;
    width: 100%;
}

#map {
    height: 100%;
}

.top-nav {
    margin-right: 0;
    margin-top: 14px;
}

.bdr-left {
    border-left: 1px solid rgba(0, 0, 0, 0.1);
}

.navbar-nav > li, .navbar-nav > li > a {
    font-size: 14px;
    line-height: 40px;
    padding-bottom: 0;
    padding-top: 0;
    text-transform: uppercase;
    color: #888;
    border-width: 1px;
    border-color: transparent;
    border-style: solid;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    display: inline-block !important;
}

.navbar-nav > li > a {
    padding: 0;
}

.top-nav > li > a:hover,
.top-nav > li > a:focus {
    background-color: transparent;
    color: #333 !important;
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    border: solid 1px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
}

.caret {
    margin-left: 6px;
    color: #666;
}

.img-cirlce {
    border-radius: 100%;
    margin: 0px 4px;
    height: 42px;
    width: 42px;
}

.navbar-nav > li > a.fa-bell, .navbar-nav > li > a.fa-commenting {
    font-size: 16px;
}

.navbar-nav > li > .dropdown-menu {
    margin-top: -1px;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
}

.top-nav .dropdown-menu {
    display: inline-block;
    visibility: hidden;
    opacity: 0;
    top: 0%;
}

.top-nav .open > .dropdown-menu {
    visibility: visible;
    opacity: 1;
    top: 100%;
}

.btn-danger {
    color: #fff;
    background-color: #d9534f !important;
    border-color: #d43f3a !important;
}

/*.badge {*/
/*font-size: 11px;*/
/*font-weight: normal;*/
/*margin-top: -14px;*/
/*padding: 3px 6px;*/
/*}*/
.badge {
    font-size: 11px;
    font-weight: normal;
    margin: 0 5px 5px 0;
    padding: 5px 10px;
}

/***Login*******************************************/
.btn {
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
}

.btn-primary {
    background-color: #337ab7;
    border-color: #2e6da4;
    color: #fff;
}

.box button:hover {
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
}

.well {
    border: 0px solid rgba(51, 51, 51, 1);
    border-radius: 0px;
    box-shadow: none;
    margin: 10% auto 0;
    padding: 10px 20px;
    max-width: 90%;
    max-width: 400px;

}

.well .btn.form-control {
    font-size: 16px;
    height: 42px;
    text-transform: uppercase;
}

.group {
    position: relative;
    margin-bottom: 15px;
}

input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
    background-color: #fff !important;
    background-image: none;
}

.inputMaterial {
    border: 0px solid #222;
    border-bottom: 1px solid #222;
    background: rgba(0, 0, 0, 0.3);
    color: #fff;
    display: block;
    font-size: 18px;
    width: 100%;
}

.login-bg {
    background: rgba(0, 0, 0, 0.3);
    height: 100%;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5)
}

.inputMaterial {
    padding: 10px 20px;
}

.logo-login {
    text-align: center;
    margin: 5% auto;
}

.inputMaterial:focus {
    outline: none;
}

/* LABEL ======================================= */

.group label {
    color: #999;
    font-size: 14px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

/* active state */
.inputMaterial:focus ~ label, .inputMaterial:valid ~ label {
    top: -20px;
    font-size: 14px;
    color: #009688;
}

/* BOTTOM BARS ================================= */
.bar {
    position: relative;
    display: block;
    width: 100%;
}

.bar:before, .bar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 0px;
    position: absolute;
    background: #aebdc1;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.bar:before {
    left: 50%;
}

.bar:after {
    right: 50%;
}

/* active state */
.inputMaterial:focus ~ .bar:before, .inputMaterial:focus ~ .bar:after {
    width: 50%;
}

.nav-tabs > li > a {
    background-color: #e9e9e9;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 0;
    line-height: 1.42857;
    margin-right: 1px;
    color: #5c5c5c;
    font-size: 16px;
    padding: 15px 20px;
    border-radius: 4px 4px 0 0;
}

.tabs-view-2 {
    position: absolute;
    min-width: 800px;
    top: 65px;
    left: 10px;
}

.tabs-view-2 .tab-content {
    background-color: #ffffff;
    padding: 20px;
    margin-left: 1px;
    border-radius: 0;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.05);
}

.tabs-view .tab-content {
    background-color: #ffffff;
    padding: 20px;
    margin-left: 1px;
    border-radius: 0;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.05);
}

.alert-tabs-view .nav-tabs {
    border-bottom: 0 solid #ddd;
    margin: 0;
}

.alert-tabs-view .nav-tabs > li {
    margin: 0 15px;
}

.alert-tabs-view .nav-tabs > li.active > a, .alert-tabs-view .nav-tabs > li.active > a:hover, .alert-tabs-view .nav-tabs > li.active > a:focus {
    background-color: #fff;
    border: none;
    border-bottom: 2px solid #00BFFF;
    color: #333;
    cursor: default;
}

.alert-tabs-view .nav-tabs > li > a {
    background-color: #fff;
    border: none;
    border-radius: 0;
    color: #999;
    text-transform: uppercase;
    font-size: 14px;
    padding: 15px 5px;
}

.alert-tabs-view .tab-content {
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0);
    padding: 40px 0 20px 0;
}

.pentagon {
    background: red;
    display: inline-block;
    height: 55px;
    position: relative;
    width: 100px;
    border-radius: 4px 4px 0 0;
}

.pentagon:before {
    border-top: 25px solid red;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    content: "";
    height: 0;
    left: 0;
    position: absolute;
    top: 55px;
    width: 0;
}

.total {
    background-color: #4cafa5;
    color: #FFF;
}

.total:before {
    border-top: 25px solid #4cafa5;
}

.total h4 {
    font-size: 14px;
    margin: 16px 0px 0px;
    color: #FFF;
}

.total span {
    display: block;
    font-size: 14px;
}

.occupied {
    background-color: #d0021b;
    color: #FFF;
}

.occupied:before {
    border-top: 25px solid #d0021b;
}

.occupied h4 {
    font-size: 14px;
    margin: 16px 0px 0px;
    color: #FFF;
}

.occupied span {
    display: block;
    font-size: 14px;
}

.tabs-toggle .available {
    background-color: #7ed321;
    color: #FFF;
}

.tabs-toggle .available:before {
    border-top: 25px solid #7ed321;
}

.tabs-toggle .available h4 {
    font-size: 14px;
    margin: 16px 0px 0px;
    color: #FFF;
}

.tabs-toggle .available span {
    display: block;
    font-size: 14px;
}

.tabs-toggle {
    position: absolute;
    top: 0px;
    z-index: 9;
    visibility: hidden;
    left: -800px;
    transition: all 0.4s cubic-bezier(0.68, -0.55, 0.27, 1.55);
    -webkit-transition: all 0.4s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.tabs-show {
    left: 28px;
    visibility: visible;
    z-index: 11;
}

.tabs-toggle-btn {
    background-color: #ffffff;
    border: medium none;
    border-radius: 4px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.03);
    color: #666666;
    font-size: 18px;
    height: 40px;
    line-height: 28px;
    text-align: center;
    z-index: 10;
    border: none !important;
}

.map-btn {
    width: 34px !important;
    position: fixed !important;
    top: 118px !important;
    margin: 0 !important;
}

.tabs-toggle-btn i {
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
}

.left-arrow .fa-angle-double-right {
    transform: rotate(180deg);
}

.info-window {
    background-color: #ffffff !important;
    margin-left: 10px !important;
}

.info-window .iw-header .iw-driver, .iw-driver {
    background-color: #eee !important;
    border: 2px solid #fff;
    border-radius: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: inline-block;
    height: 75px !important;
    margin-top: 15px;
    width: 75px !important;
}

.info-window .iw-header h3 {
    color: #333;
    font-size: 20px;
    margin: 15px 0;
}

/*
.ng-map-info-window {
    width: 250px !important;
} 
.ng-map-info-window .gm-style-iw {
    left: auto !important;
    position: relative !important;
    top: auto !important;
    width: 238px !important;
}


.info-window .iw-header {
    background-color: #373a3c;
    height: 100px;
    padding: 20px 10px;
    text-align: center;
}
.info-window .iw-header h3 {
    margin: 0px;
    font-size: 20px;
    color: #f6f6f6;
    text-align: center;
}
/* 
.info-window .iw-header .iw-driver {
    border-radius: 100%;
    height: 80px;
    margin-top: 15px;
    width: 80px;
}
.info-window .iw-content {
    padding: 45px 0px 0px;
    color: #5c5c5c;
}
 */

/* live */
.navbar-fixed-top, .navbar-fixed-bottom {
    z-index: 12 !important;
}

.panel {
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.07);
}

.panel-body {
    padding: 10px;
}

.panel-default > .panel-heading {
    margin: 0;
    border-bottom: 1px solid #ddd !important;
}

.form-group {
    margin-bottom: 0;
}

.today-date-range {
    padding: 0;
    width: 244px;
}

.border {
    border: 1px solid #eee !important;
}

.no-lt-bdr {
    border-left: none !important;
}

.no-rt-bdr {
    border-right: none !important;
}

.no-tp-bdr {
    border-top: none !important;
}

.no-bt-bdr {
    border-bottom: none !important;
}

.lt-bdr {
    border-left: 1px solid #eee !important;
}

.rt-bdr {
    border-right: 1px solid #eee !important;
}

.tp-bdr {
    border-top: 1px solid #eee !important;
}

.bt-bdr {
    border-bottom: 1px solid #eee !important;
}

.mr-bt {
    margin-bottom: 20px !important;
}

.no-mr {
    margin: 0 !important;
}

.no-pd {
    padding: 0 !important;
}

.pd-10 {
    padding: 10px !important;
}

.no-mr-lt {
    margin-left: 0 !important;
}

.no-pd-lt {
    padding-left: 0 !important;
}

.pd10-tp {
    padding-top: 10px !important;
}

.pd10-bt {
    padding-bottom: 10px !important;
}

.overview-box .section {
    background: #fff;
}

.box {
    padding: 12px 0;
}

.box.box-1, .box.box-2, .box.box-3, .box.box-4 {
    max-width: 225px;
    min-width: 200px;
}

.box.box-0, .box-0 {
    background-color: #ccc !important;
    color: #fff !important
}

.box.box-1, .box-1 {
    background-color: #ec407a !important;
    color: #fff !important
}

.box.box-2, .box-2 {
    background-color: #42a5f5 !important;
    color: #fff !important
}

.box.box-3, .box-3 {
    background-color: #66bb6a !important;
    color: #fff !important
}

.box.box-4, .box-4 {
    background-color: #47639e !important;
    color: #fff !important
}

.box.box-5, .box-5 {
    background-color: #5bc0de !important;
    color: #fff !important
}

.box.box-6, .box-6 {
    background-color: #f0ad4e !important;
    color: #fff !important
}

.box.box-online {
    background-color: #5cb85c !important;
    color: #fff !important
}

.box.box-offline {
    background-color: #B40404 !important;
    color: #fff !important;
}

.box.box-heading {
    min-height: 85px
}

.box h4 {
    font-size: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
    color:#aaa;
}

.box h4.number {
    margin-top: 10px;
}

.box h4.number {
    word-wrap: break-word;
}

.box-heading h4.title {
    color: #fff;
    line-height: 56px;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.4);
}

.panel-default > .panel-heading {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #f9f9f9;
    border-color: -moz-use-text-color -moz-use-text-color #eee;
    border-image: none;
    border-style: none none solid;
    border-width: medium medium 1px;
    color: #333;
}

@media only screen and (max-width: 48em) {

    .box.box-1, .box.box-2, .box.box-3, .box.box-4 {
        max-width: 100%;
    }

    .box.box-heading {
        min-height: 15px;
    }

    .box-heading h4.title {
        color: #fff;
        line-height: 15px;
    }

    .date-selection {
        border-bottom: 1px solid #ccc;
        width: 70%;
    }
}

@media only screen and (max-width: 64em) {
    .box.box-1, .box.box-2, .box.box-3, .box.box-4 {
        max-width: 100%;
    }

    .box.box-heading {
        min-height: 15px;
    }

    .box-heading h4.title {
        color: #fff;
        line-height: 15px;
    }

    .date-selection {
        border-bottom: 1px solid #eee;
        width: 70%;
    }
}

h4.title {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
}

.box span {
    color: #212121;
    font-size: 10px;
    text-transform: uppercase;
}

span.img-top {
    padding: 10px;
    display: none;
}

.hide-bdr {
    box-shadow: 0 0 0 #fff !important;
    border: none !important;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak, .ng-hide:not(.ng-hide-animate) {
    display: inline !important;
}

.ngrs-range-slider {
    border: none;
    box-shadow: 0 0 0 #fff
}

.date-selection .form-control[disabled], .date-selection .form-control[readonly], .date-selection fieldset[disabled] .form-control {
    background-color: #f9f9f9;
}

.tab-container {
    padding: 30px 40px;
}

.global-tbl {
    margin: 1px 0px;
    border: none;
}

.global-tbl > thead > tr > th {
    border-width: 1px;
    background-color: #e5e5e5;
    color: #424242;
    text-align: center;
}

.global-tbl > thead > tr > th, .global-tbl > tbody > tr > th,
.global-tbl > tfoot > tr > th, .global-tbl > thead > tr > td,
.global-tbl > tbody > tr > td, .global-tbl > tfoot > tr > td {
    border: 1px solid #FFF;
}

.table-striped > tbody > tr:nth-of-type(2n+1) {
    background-color: #f6f6f6;
}

.table-borderless tbody tr td, .table-borderless tbody tr th, .table-borderless thead tr th {
    border: none !important;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    border-top: 0px solid #ddd;
}

.tbl-filter {
    background-color: #FFF;
    margin-bottom: 30px;
    margin-top: -34px;
    float: right;
    padding: 0 0 0 20px;
}

.tbl-filter .form-control {
    border-radius: 2px;
}

.tbl-filter .input-group-addon {
    border-radius: 0px 2px 2px 0px;
    background-color: transparent;
    cursor: pointer;
}

.tbl-filter .frm-ctrl {
    border-right: none;
    box-shadow: none;
}

/***************************Drivers End*/

::-moz-selection {
    background: #ccc;
}

::selection {
    background: #ccc;
}

@-webkit-keyframes icon-beat {
    0% {
        -webkit-transform: scale(2);
        -ms-transform: scale(2);
        transform: scale(2);
    }
    100% {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes icon-beat {
    0% {
        -webkit-transform: scale(2);
        -ms-transform: scale(2);
        transform: scale(2);
    }
    100% {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }
}

.inpt-style label {
    display: inline-block;
    position: relative;
    padding: 0.5rem 1rem;
    line-height: 28px;
    font-weight: normal;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}

.inpt-style label:last-of-type {
    margin-right: 1rem;
}

.inpt-style label i {
    display: inline-block;
    height: 25px;
    position: relative;
    top: 2px;
    font-style: normal;
    color: #ccc;
}

.inpt-style label span {
    display: inline-block;
    margin-left: 2px;
    line-height: 25px;
    color: #333;
}

.inpt-style input[type="radio"],
.inpt-style input[type="checkbox"] {
    display: none;
}

.inpt-style input[type="radio"] + i:before,
.inpt-style input[type="checkbox"] + i:before {
    font-family: 'FontAwesome';
    font-size: 16px;
    height: 25px;
    width: 15px;
    display: inline-block;
}

.inpt-style input[type="radio"]:checked + i,
.inpt-style input[type="checkbox"]:checked + i {
    position: relative;
    -webkit-animation: icon-beat 0.1s ease;
    animation: icon-beat 0.1s ease;
}

.inpt-style input[type="radio"]:checked + i + span,
.inpt-style input[type="checkbox"]:checked + i + span {
    -webkit-transition: all 0.1s ease;
    transition: all 0.1s ease;
}

/*.inpt-style input[type="radio"] + i:before { content: "\f10c"; }

.inpt-style input[type="radio"]:checked + i:before { content: "\f111"; }

.inpt-style input[type="radio"]:checked + i + span,
.inpt-style input[type="radio"]:checked + i:before { color: rgba(0, 128, 128, 0.5); }*/

.inpt-style input[type="radio"] + i:before {
    content: "\f096";
}

.inpt-style input[type="radio"]:checked + i:before {
    content: "\f14a";
}

.inpt-style input[type="radio"]:checked + i + span,
.inpt-style input[type="radio"]:checked + i:before {
    color: rgba(0, 128, 0, 0.5);
}

/* .flx-performance { height: 100px;} */
.flx-performance .flx-cnt-right {
    flex: 1 auto;
    border: 0px solid #e2e2e2;
    min-height: 70px;
}

/* .flx-performance .flx-cnt-right div {padding:32px 40px;} */

.cstm-width {
    min-width: 190px;
    max-width: 210px;
}

/*************************LIVE******************/
.live-flx-box {
    border-bottom: 1px solid #e2e2e2;
}

.live-flx-box .lv-driver {
    flex: 1 1 18%;
    padding: 30px 10px 10px 50px;
}

.live-flx-box .lv-rider {
    flex: 1 1 13%;
    padding: 30px 10px 10px 30px;
    border-left: solid 1px #e2e2e2;
    border-right: solid 1px #e2e2e2;
}

.live-flx-box .lv-booking {
    flex: 1 1 60%;
    padding: 30px 10px 10px 30px;
}

.live-flx-box .lv-driver p, .live-flx-box .lv-rider p {
    display: inline-block;
    text-align: left;
    width: 49%;
    font-size: 11px;
    color: #999;
    text-transform: uppercase;
}

.live-flx-box .lv-driver p span, .live-flx-box .lv-rider p span {
    display: block;
    font-size: 18px;
    color: #333;
    font-family: "allerregular"
}

.live-flx-box .lv-booking div {
    min-height: 90px;
    text-transform: uppercase;
    padding: 0 10px 0px 20px;
    display: inline-block;
    width: 19%;
    font-size: 12px;
    vertical-align: top;
    border-right: solid 1px #e2e2e2;
}

.live-flx-box .lv-booking div:nth-of-type(1) {
    padding-left: 0px;
}

.live-flx-box .lv-booking div:last-child {
    border-right: none;
}

.live-flx-box .lv-booking div span {
    display: block;
    font-size: 18px;
    font-family: "allerregular";
    color: #333;
}

.live-flx-box .lv-booking .sub-flx b {
    display: block;
    font-style: normal;
    margin-bottom: 10px;
}

.live-flx-box .lv-booking .sub-flx p {
    display: inline-block;
    width: 45%;
    color: #999;
    font-size: 11px;
    text-transform: uppercase;
}

.lv-driver h4, .lv-rider h4, .lv-booking h4 {
    font-size: 22px;
    margin-bottom: 12px;
    color: #666;
}

.lv-driver h4 i, .lv-rider h4 i, .lv-booking h4 i {
    font-size: 32px;
    color: #666;
    vertical-align: middle;
}

/* active state */
.inputMaterial:focus ~ .highlight {
    -webkit-animation: inputHighlighter 0.3s ease;
    -moz-animation: inputHighlighter 0.3s ease;
    animation: inputHighlighter 0.3s ease;
}

/*surge*/
.pointer {
    cursor: pointer;
}

.geo-fence-tbl {
    position: absolute;
    right: 30px;
    top: 80px;
    width: 50%;
    min-width: 320px;
    max-width: 480px;
}

/*end*/
/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
    from {
        background: #5264AE;
    }
    to {
        width: 0;
        background: transparent;
    }
}

@-moz-keyframes inputHighlighter {
    from {
        background: #5264AE;
    }
    to {
        width: 0;
        background: transparent;
    }
}

@keyframes inputHighlighter {
    from {
        background: #5264AE;
    }
    to {
        width: 0;
        background: transparent;
    }
}

.fullscreen {
    width: 100%;
    height: 100%;
    position: fixed;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak, .ng-hide:not(.ng-hide-animate) {
    display: none !important;
}

.axis path, .axis line {
    fill: none;
    stroke: #777;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: Arial;
    font-size: 13px;
}

.tick {
    stroke-dasharray: 1, 2;
}

.bar {
    fill: FireBrick;
}

.get-bid-marker-btn {
    margin-top: 25px
}

.heading-box1 {
    color: #333;
    text-transform: uppercase;
    text-align: left
}

.heading-box1 h3 {
    font-size: 14px;
    margin: 5px 0 5px 0;
    font-weight: 400
}

.heading-box1 hr {
    margin: 0
}

.heading-box1 {
}

.cancelled-trip-quad1 h5 {
    /*border-bottom: solid 1px rgba(51, 51, 51, 0.3);*/
    font-weight: 400;
    padding-bottom: 10px;
    text-align: center;
}

.tripInfo-driver-tab .box.box-heading {
    min-height: 225px;
}
.geo-hash-detail{float: right; position: relative; z-index: 1111; margin:15px 100px 0 0; font-size: 13px;}
.geo-hash-detail span{border-left:solid 1px #333; padding:0 10px; line-height:22px; display: inline-block;}
.geo-hash-detail span:first-child{border-left:0}
/*.bid-driver-detail h4{px t-weight:400}
.bid-driver-detail h4 + span{text-transform: uppercase;}
.trip-in-detail-quad1, .trip-amount-detail-quad1{border-left:solid 1px rgba(153,153,153,0.5)}
.trip-for-detail-quad1 h3, .trip-in-detail-quad1 h3, .trip-amount-detail-quad1 h3{margin-top:5px}*/
.card {
    position: fixed;
    top: 54px;
    right: 1px;
    z-index: 20;
    background: #fff;
    padding: 5px;
    width: 100%;
    box-shadow: 0px 0px 40px rgba(0,0,0,0.1);
    max-width: 300px;
    height: 100%;
}
.img-fluid {
    max-height: 100%;
    width: 100%;
    display: block;
}
.card-bg-img {
    width: 100%;
    height: 200px;
    overflow: hidden;
    /*background: url("https://images1-focus-opensocial.googleusercontent.com/gadgets/proxy?url={{vm.driver.profile.profileImage}}&container=focus&resize_w=200&resize_h=250&refresh=2592000"), url("assets/images/ajax-loader.gif");*/
    /*background-color: #fff;*/
    /*background-size: cover, 20px;*/
    /*background-repeat: no-repeat;*/
    /*background-position: center 20%;*/
}
.card-block{padding: 0px}
.card-title{padding: 20px; background: #f9f9f9; margin: 0}

.role-base-navs{width:100%; overflow-y:auto; max-height: 85vh}
@media only screen and (min-height:768px) {
    .role-base-navs{max-height:87.1vh}
}
@media only screen and (min-height:800px) {
    .role-base-navs{max-height:87.5vh}
}
@media only screen and (min-height:1024px) {
    .role-base-navs{max-height:90.3vh}
}
@media only screen and (min-height:1200px) {
    .role-base-navs {max-height: 91.7vh}
}
@media only screen and (min-height:1200px) {
    .role-base-navs {max-height: 91.7vh}
}
@media only screen and (min-height: 1280px){
    .role-base-navs {max-height: 94vh}
}
.edit-fare-modal .modal-header, .edit-fare-modal .modal-body, .edit-fare-modal .modal-footer{padding: 10px 13px;}
.edit-fare-modal .modal-header h3{font-size:18px; font-weight:400;}
.edit-fare-modal .modal-header .cls-btn{color:rgba(0,0,0,0.5); text-decoration:none; margin-top:5px;font-weight:600;}
.edit-fare-modal .heading-box1 span{font-size: 20px; font-weight: 300; margin-bottom: 0px; color: #aaa;}
.edit-fare-modal .input-group{margin-bottom:10px; width:100%}
.edit-fare-modal .modal-body hr{margin:10px 0}
.edit-fare-modal .modal-body h3{margin-bottom:10px}
.save-farechanges-btn{padding:0 12px; line-height:26px;}
.cancel-farechanges-btn{line-height:27px; margin-left:15px}



