body {
    background-color: #f9f9f9;
    font-family: Helvetica Neue ,Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #333;
    min-width:320px;
    font-weight:400;
    -webkit-font-smoothing: auto;
    -moz-osx-font-smoothing: auto;
}
table, tr, td, th, thead, tbody, tfoot, ul, li, input, textara, button,label{
	font-size: 14px;
	color: #333;
	font-family: Helvetica Neue ,Helvetica, Arial, sans-serif;
}
.app-loader{
	position: absolute;
	top: 30%;
	left: 46%;
	z-index: 200000000;
	width: 150px;
	height: 130px;
	display: block; 
	background-color: rgba(0, 0, 0,0.4);
}
.input-search-term {
    height: 34px;
    vertical-align: middle;
    margin-left:10px;
    padding:0 5px;
}
/* ng-map {width:100%; height:100%;position: absolute;} */
a:focus {
    outline: none;
    outline-offset: 0;
}
h4 small, .h4 small, h5 small, .h5 small, h6 small, .h6 small, h4 .small, .h4 .small, h5 .small, .h5 .small, h6 .small, .h6 .small {
    color: #666;
    font-size: 65%;
    font-weight: 200;
}
i {
    font-style: normal;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-weight: 300;
}
.form-inline .form-control {
    background: rgba(0, 0, 0, 0) none repeat; 
    }
h4, .h4 {
    font-size: 16px;
}
.rzslider span {
    font-size: 10px;
}
.rzslider .rz-pointer::after {
    height: 8px;
    left: 7px;
    top: 7px;
    width: 8px;
}
.toggle-menu-close {
    background: #fff;
    cursor: pointer;
    padding: 15px;
    position: absolute;
    right: -54px;
}	
.rzslider .rz-pointer {
    background-color: #0db9f0;
    border-radius: 16px;
    height: 21px;
    top: -10px;
    width: 21px;
}
button, input, optgroup, textarea, select {
    color: initial;
}
.panel-heading {
    border-radius: 0;
}
div.panel.panel-default div.panel-heading h4.title{margin-bottom:0;}
.live {
    background-color: rgb(48, 176, 58);
    border-radius: 100%;
    height: 12px;
    line-height: 12px;
    position: fixed;
    left: 49%;
    text-indent: 17px;
    top: 21px;
    width: 12px;
    z-index:9999999;
}
.rzslider .rz-pointer.rz-active::after {
    background-color: #eee;
}
.label {
    font-weight: normal;
    margin: 0 2px 2px 0;
    display:inline-block;
    white-space: normal;
}
.reload{
		position:fixed;
		right:15px;
		top:17px;
		z-index:999999999;
	}
div.box.box-container div.row div.box table tbody tr td span h4{margin-bottom:0px;}
div.box.box-container div.row div.box {padding:20px 0;}
.panel {
    border-radius: 0;
}
.text-danger {
    color: #d9534f;
}
.text-success {
    color: #5cb85c;
}
.text-warning {
    color: #f0ad4e;
}
.text-info {
    color: #337ab7;
}
.navbar-inverse {
    background: #fff none repeat scroll 0 0;
    border-bottom: medium none;
    color: #eee;
    font-weight: 100;
    height: 54px;
    margin-bottom: 0;
    position: fixed;
}

.navbar-brand {
    padding: 4px;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
    background-color: transparent;
    color: #666;
}

.top-nav .dropdown .dropdown-menu > li > a {
    line-height: 20px;
    font-size: 12px;
    text-transform: uppercase;
}

.navbar-header-toggle {
    padding-left: 250px;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
}
.container-toggle {
    padding-left: 295px;
    transition: all 0.2s ease-in-out 0s;
}
.map-toggle {
    padding-left: 250px;
    transition: all 0.2s ease-in-out 0s;
}
.form-control { border-radius: 0px;}
.date-toggle {
    margin-left: 20px !important;
    transition: all 0.2s ease-in-out 0s;
}
.daterangepicker {
    border-radius: 0;
    padding: 18px;

}
input.daterangepicker-aqq-chart {
    line-height: 16px;
    padding: 0px;
    margin: 0px;
    height: 17px;
    font-size: 11px;
    line-height: 16px;
    max-width: 190px;
    min-width: 130px;
}
.daterangepicker .calendar-date, .daterangepicker td.start-date.end-date {
    border-radius: 0px;
}
.range_inputs{margin-top:10px;}
.daterangepicker button.applyBtn {margin-right:10px}
.daterangepicker .btn-sm, .daterangepicker .btn-group-sm > .btn,
.daterangepicker .input-mini {border-radius: 0 !important;}
.daterangepicker, .daterangepicker .calendar th, .daterangepicker .calendar td {
     font-size:12px;
}
.date-selection-dr {
    margin-left: 90px;
    padding: 10px 60px 10px 0 !important;
}

.daterangepicker .ranges li {
	background:none;
	border:none;
    border-radius: 0;
    cursor: pointer;
    font-size: 12px;
    margin-bottom: 2px;
    padding: 4px 10px;
}
.daterangepicker .ranges li:last-child {
    margin-bottom: 14px;
}
.daterangepicker .ranges li.active, .daterangepicker .ranges li:hover {
    background: #eee;
    border: 0px solid #08c;
    color: #333;
}
.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
    margin: 0px;
}

.tg-menu {
    color: #ccc;
    cursor: pointer;
    display: block;
    float: left;
    font-size: 28px;
    line-height: 0;
    padding: 15px;
}
.navbar-toggle {
    margin-top: 12px;
    border: none;
    font-size: 18px;
}

.navbar-collapse.in .nav > li > a {
    line-height: 20px;
}

.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
    background-color: transparent;
}

.navbar-collapse.in {
    position: absolute;
    width: 100%;
    top: 69px;
    padding: 0px 0px 20px 20px;
    background-color: #FFF;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
}

.content {
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
}
.date-selection {
    background: none;
    position: fixed;
    z-index: 9999;
}

.form-inline .radio label{margin:0px;}
.form-inline .radio input[type="radio"]{margin:0 5px 0 10px;}
.sidenav-open {
    padding-left: 250px;
}

.sidenav {
    width: 250px;
    position: fixed;
    left: -350px;
    top: 0px;
    bottom: 0;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    box-shadow: 0 8px 17px rgba(0, 0, 0, .2);
    -webkit-box-shadow: 0 8px 17px rgba(0, 0, 0, .2);
    background: #313131;
    z-index: 2147483647;
}

.sidenav.open {
    left:0px;
}

/* 
.navbar-static-top {
    z-index: 99999999;
}
 */

.nav-stacked {
    padding: 0;
    z-index: 9;

}
.nav-stacked > li + li {
    margin-top: 0;
}
.nav-stacked li {
    text-transform: uppercase;
}
.nav-stacked li a {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    color: #ffffff;
    font-size: 14px;
    padding: 15px;
    text-transform: uppercase;
}

.nav-stacked li:last-child a {
    border-bottom: solid 1px rgba(255, 255, 255, 0.1);
}

.nav-stacked li a span {
    display: inline-block;
    padding: 0 20px 0 10px;
    font-size: 16px;
    width:40px;
}

.nav > li > a:hover, .nav > li > a:focus {
    background-color: #999999;
    text-decoration: none;
}

.content-div {
    height: 100%;
    /* padding-top: 70px; */
    position: absolute;
    top: 0;
    width: 100%;
}

#map {
    height: 100%;
}

.top-nav {
    margin-right: 0;
    margin-top: 14px;
}

.bdr-left {
    border-left: 1px solid rgba(0, 0, 0, 0.1);
}

.navbar-nav > li, .navbar-nav > li > a{
    font-size: 14px;
    line-height: 40px;
    padding-bottom: 0;
    padding-top: 0;
    text-transform: uppercase;
    color: #888;
    border-width: 1px;
    border-color: transparent;
    border-style: solid;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    display:inline-block !important;
}
.navbar-nav > li > a{
    padding: 0;
}
.top-nav > li > a:hover,
.top-nav > li > a:focus {
    background-color: transparent;
    color: #333 !important;
}
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus{
    border: solid 1px rgba(0,0,0,0.15);
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
}
.caret {
    margin-left: 6px;
    color: #666;
}

.img-cirlce {
    border-radius: 100%;
    margin: 0px 4px;
    height: 42px;
    width: 42px;
}

.navbar-nav > li > a.fa-bell, .navbar-nav > li > a.fa-commenting {
    font-size: 16px;
}
.navbar-nav > li > .dropdown-menu {
    margin-top: -1px;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
}
.top-nav .dropdown-menu {
    display: inline-block;
    visibility: hidden;
    opacity: 0;
    top: 0%;
}
.top-nav .open > .dropdown-menu {
    visibility: visible;
    opacity: 1;
    top: 100%;
}
.badge {
    font-size: 11px;
    font-weight: normal;
    margin-top: -14px;
    padding: 3px 6px;
}

/***Login*******************************************/
.btn {
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
}
.box button:hover{
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
}
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    background-color: #5bc0de;
}
.well {
    border: 0px solid rgba(51,51,51,1);
    border-radius: 0px;
    box-shadow: none;
    margin: 10% auto 0;
    padding: 10px 20px;
    max-width: 90%;
    max-width: 400px;
    
}
.well .btn.form-control {
    font-size: 16px;
    height: 42px;
    text-transform: uppercase;
}
.group 			  {
    position:relative;
    margin-bottom: 15px;
}
input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
    background-color: #fff !important;
    background-image: none;
}
.inputMaterial {
	border:0px solid #222;
	border-bottom:1px solid #222;
	background:rgba(0,0,0,0.3);
    color: #fff;
    display: block;
    font-size: 18px;
    width: 100%;
}
.login-bg{
	background:rgba(0,0,0,0.3);
	height:100%;
	box-shadow:0px 0px 20px  rgba(0,0,0,0.5)
}
.inputMaterial {
    padding: 10px 20px ;
}
.logo-login {text-align: center; margin: 5% auto;}

.inputMaterial:focus 		{ outline:none;}

/* LABEL ======================================= */

.group label 				 {
    color:#999;
    font-size:14px;
    font-weight:normal;
    position:absolute;
    pointer-events:none;
    left:5px;
    top:10px;
    transition:0.2s ease all;
    -moz-transition:0.2s ease all;
    -webkit-transition:0.2s ease all;
}

/* active state */
.inputMaterial:focus ~ label, .inputMaterial:valid ~ label 		{
    top:-20px;
    font-size:14px;
    color: #009688;
}

/* BOTTOM BARS ================================= */
.bar 	{ position:relative; display:block; width:100%; }
.bar:before, .bar:after 	{
    content:'';
    height:2px;
    width:0;
    bottom:0px;
    position:absolute;
    background: #aebdc1;
    transition:0.2s ease all;
    -moz-transition:0.2s ease all;
    -webkit-transition:0.2s ease all;
}
.bar:before {
    left:50%;
}
.bar:after {
    right:50%;
}

/* active state */
.inputMaterial:focus ~ .bar:before, .inputMaterial:focus ~ .bar:after {
    width:50%;
}

.tabs-view {
    position: absolute;
    min-width: 450px;
    top:125px;
    left: 10px;
}
.nav-tabs > li > a {
    background-color: #e9e9e9;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 0;
    line-height: 1.42857;
    margin-right: 1px;
    color: #5c5c5c;
    font-size: 16px;
    padding: 15px 20px;
    border-radius: 4px 4px 0 0;
}
.tabs-view .tab-content {
    background-color: #ffffff;
    padding: 40px 30px 50px;
    margin-left: 1px;
    border-radius: 0 4px 4px;
    box-shadow: 3px 4px 2px rgba(0, 0, 0, 0.3);
}

.pentagon {
    background: red;
    display: inline-block;
    height: 55px;
    position: relative;
    width: 100px;
    border-radius: 4px 4px 0 0;
}
.pentagon:before {
    border-top: 25px solid red;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    content: "";
    height: 0;
    left: 0;
    position: absolute;
    top: 55px;
    width: 0;
}
.total {
    background-color: #4cafa5;
    color: #FFF;
}
.total:before {
    border-top: 25px solid #4cafa5;
}
.total h4 {
    font-size: 14px;
    margin: 16px 0px 0px;
    color: #FFF;
}
.total span {
    display: block;
    font-size: 14px;
}
.occupied {
    background-color: #d0021b;
    color: #FFF;
}
.occupied:before {
    border-top: 25px solid #d0021b;
}
.occupied h4 {
    font-size: 14px;
    margin: 16px 0px 0px;
    color: #FFF;
}
.occupied span {
    display: block;
    font-size: 14px;
}
.tabs-toggle .available {
    background-color: #7ed321;
    color: #FFF;
}
.tabs-toggle .available:before {
    border-top: 25px solid #7ed321;
}
.tabs-toggle .available h4 {
    font-size: 14px;
    margin: 16px 0px 0px;
    color: #FFF;
}
.tabs-toggle .available span {
    display: block;
    font-size: 14px;
}
.tabs-toggle {
    position: absolute;
    top:0px;
    z-index: 9;
    visibility: hidden;
    left: -400px;
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
}
.tabs-show {
    left:  30px;
    visibility: visible;
    z-index: 9;
}
.tabs-toggle-btn {
    background-color: #ffffff;
    border: medium none;
    border-radius: 4px;
    box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.3);
    color: #666666;
    font-size: 18px;
    height: 40px;
    line-height: 28px;
    text-align: center;
    width: 32px;
    margin-top: 55px;
    z-index: 10;
}
.tabs-toggle-btn i{
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
}
.left-arrow .fa-angle-double-right {
    transform: rotate(180deg);
}
.info-window {
    background-color: #ffffff !important;
    margin-left: 10px !important;
}
.info-window .iw-header .iw-driver, .iw-driver {
    background-color: #eee !important;
    border: 2px solid #fff;
    border-radius: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: inline-block;
    height: 75px !important;
    margin-top: 15px;
    width: 75px !important;
}
.info-window .iw-header h3 {
    color: #333;
    font-size: 20px;
    margin: 15px 0;
}
/*
.ng-map-info-window {
    width: 250px !important;
} 
.ng-map-info-window .gm-style-iw {
    left: auto !important;
    position: relative !important;
    top: auto !important;
    width: 238px !important;
}


.info-window .iw-header {
    background-color: #373a3c;
    height: 100px;
    padding: 20px 10px;
    text-align: center;
}
.info-window .iw-header h3 {
    margin: 0px;
    font-size: 20px;
    color: #f6f6f6;
    text-align: center;
}
/* 
.info-window .iw-header .iw-driver {
    border-radius: 100%;
    height: 80px;
    margin-top: 15px;
    width: 80px;
}
.info-window .iw-content {
    padding: 45px 0px 0px;
    color: #5c5c5c;
}
 */

/* live */
.navbar-fixed-top, .navbar-fixed-bottom {
    z-index: 1;
}
.panel-default {
    border-color: #eee;
}
.panel-body {
    padding: 0px;
}
.panel-default > .panel-heading {
    margin: 0;
}
.form-group {
    margin-bottom: 0;
}
.today-date-range{padding:0; width:244px;}
.border{border: 1px solid #eee !important;}
.no-lt-bdr{border-left: none !important;}
.no-rt-bdr{border-right: none !important;}
.no-tp-bdr{border-top: none !important;}
.no-bt-bdr{border-bottom: none !important;}

.lt-bdr{border-left: 1px solid #eee !important;}
.rt-bdr{border-right: 1px solid #eee !important;}
.tp-bdr{border-top: 1px solid #eee !important;}
.bt-bdr{border-bottom: 1px solid #eee !important;}
.mr-bt{margin-bottom:20px !important;}
.no-mr{margin:0 !important;}
.no-pd{padding:0 !important;}
.no-mr-lt{margin-left:0 !important;}
.no-pd-lt{padding-left:0 !important;}
.pd10-tp{padding-top:10px !important;}
.pd10-bt{padding-bottom:10px !important;}
.overview-box .section{background:#fff;}
.box{
	padding:12px 0;
}
.box.box-1, .box.box-2, .box.box-3, .box.box-4{
	max-width:225px;
	min-width:200px;
}
.box.box-0{
	background-color: #ccc;
}
.box.box-1{
	background-color: #ec407a;
}
.box.box-2{
	background-color: #42a5f5;
}
 
 .box.box-3{
	background-color: #66bb6a;
}
 
 .box.box-4{
	background-color: #47639e;
}
.box.box-online{
	background-color: #5cb85c	!important;
}
.box.box-offline{
	background-color: #B40404	!important;
}
.box.box-heading {
    min-height: 85px;
}
.box h4{
	font-size:22px;
	margin-top:0px;
	margin-bottom:0px;
	font-weight: 200;
}
.box h4.number {
	/* line-height:30px */
	margin-top: 10px;
}
.box-heading h4.title {
    color: #fff;
    line-height: 56px;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.4);
}
.panel-default > .panel-heading {
    color: #fff;
    background-color: #424242;
    border:none;
}
@media only screen and (max-width: 48em) {

.box.box-1, .box.box-2, .box.box-3, .box.box-4{
	max-width:100%;
}
	.box.box-heading{
   	 	min-height: 15px;
	}
	.box-heading h4.title{
   	 	color: #fff;
    	line-height: 15px;  
	}
	.date-selection {
    	border-bottom: 1px solid #ccc;
    	width: 100%;
	}
}
@media only screen and (max-width: 64em) {
.box.box-1, .box.box-2, .box.box-3, .box.box-4{
	max-width:100%;
}
	.box.box-heading{
   	 	min-height: 15px;
	}
	.box-heading h4.title{
   	 	color: #fff;
    	line-height: 15px;  
	}
	.date-selection {
    	border-bottom: 1px solid #eee;
    	width: 100%;
	}
}

h4.title{
	font-size:15px;
	text-transform:uppercase;
}
.box span {
    color: #999;
    font-size: 10px;
    text-transform: uppercase;
}
span.img-top{
	padding:10px;
	display:none;
}
.hide-bdr{box-shadow: 0 0 0 #fff !important; border:none !important;}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak, .ng-hide:not(.ng-hide-animate) {
    display: inline !important;
}
.ngrs-range-slider {border:none;box-shadow: 0 0 0 #fff}
/**********************Drivers***/
.flx-container {
/*     height: 250px; */
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-flow: row wrap;
}
.flx-container .flx-cnt-left {
    flex: 1 20%;
    background-color: #373a3c;
    color: #FFF;
}
.flx-container .flx-cnt-left .info-window {
    background-color: #373a3c;
    height: 250px;
    position: static;
    width: 100%;
    text-align: center;
}
.flx-container .info-window .iw-header .iw-driver {
    height: 120px;
    width: 120px;
}
.flx-container .flx-cnt-left .info-window .iw-content {
    color:#f2f2f2;
}

.flx-container .flx-cnt-right {
    flex: 1 80%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-flow: row wrap;
}

.flx-performance .flx-cnt-right div {
    flex: 1 16%;
    border-right:solid 1px #eee;
    margin-left: 7%;
}
.flx-performance .flx-cnt-right div:first-child {
    border-right:solid 1px #eee;
    margin: 0 7%;
}
.flx-performance .flx-cnt-right div:last-child {
    border-right:solid 0px #eee;
    margin-left: 7%;
}
.flx-performance .flx-cnt-right div h4 {
    color: #333;
   /*  font-family: "allerregular"; */
    font-size: 24px;
    line-height: 32px;
    margin: 0;
}
.flx-performance .flx-cnt-right div span {
    font-size: 11px;
    text-transform: none;
    color: #999;
    display: inline-block;
}

.flx-live.flx-container .flx-cnt-right span b{
	font-weight: normal;
}
.flx-live.flx-container .flx-cnt-right span b.title{
	display: inline-block;
	min-width: 80px;
}

.flx-live .flx-cnt-right .first-box {
	flex: 1 20%;
    border-right:solid 1px #eee;
   	margin:0 6%;
}
.flx-live .flx-cnt-right .middle-box {
    flex: 1 20%;
    border-right:solid 1px #eee;
    margin:0 4%;
}
.flx-live .flx-cnt-right .last-box{
	flex: 1 5%;
    border-right:solid 0px #eee;
    margin:0 2%;
}
.flx-live .flx-cnt-right div h4 {
    color: #333;
    /* font-family: "allerregular"; */
    font-size: 24px;
    line-height: 32px;
    margin: 0;
}
.flx-live .flx-cnt-right div span {
    font-size: 14px;
    text-transform: none;
    color: #999;
    display: inline-block;
}
.date-selection .form-control[disabled], .date-selection .form-control[readonly], .date-selection fieldset[disabled] .form-control {
    background-color: #f9f9f9;
}
.tab-container {
    padding: 30px 40px;
}

.global-tbl {
    margin: 1px 0px;
    border: none;
}
.global-tbl > thead > tr > th {
    border-width: 1px;
    background-color: #e5e5e5;
    color: #424242;
    text-align: center;
}
.global-tbl > thead > tr > th, .global-tbl > tbody > tr > th,
.global-tbl > tfoot > tr > th, .global-tbl > thead > tr > td,
.global-tbl > tbody > tr > td, .global-tbl > tfoot > tr > td {
    border: 1px solid #FFF;
}
.table-striped > tbody > tr:nth-of-type(2n+1) {
    background-color: #f6f6f6;
}
.tbl-filter {
    background-color: #FFF;
    margin-bottom: 30px;
    margin-top: -34px;
    float: right;
    padding: 0 0 0 20px;
}
.tbl-filter .form-control {
    border-radius: 2px;
}
.tbl-filter .input-group-addon {
    border-radius: 0px 2px 2px 0px;
    background-color: transparent;
    cursor: pointer;
}
.tbl-filter .frm-ctrl {
    border-right: none;
    box-shadow: none;
}

/***************************Drivers End*/


::-moz-selection {
    background: #ccc;
}

::selection { background: #ccc; }

@-webkit-keyframes
icon-beat {  0% {
    -webkit-transform: scale(2);
    -ms-transform: scale(2);
    transform: scale(2);
}
    100% {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes
icon-beat {  0% {
    -webkit-transform: scale(2);
    -ms-transform: scale(2);
    transform: scale(2);
}
    100% {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }
}


.inpt-style label {
    display: inline-block;
    position: relative;
    padding: 0.5rem 1rem;
    line-height: 28px;
    font-weight: normal;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}

.inpt-style label:last-of-type { margin-right: 1rem; }

.inpt-style label i {
    display: inline-block;
    height: 25px;
    position: relative;
    top: 2px;
    font-style: normal;
    color: #ccc;
}

.inpt-style label span {
    display: inline-block;
    margin-left: 2px;
    line-height: 25px;
    color: #333;
}

.inpt-style input[type="radio"],
.inpt-style input[type="checkbox"] { display: none; }

.inpt-style input[type="radio"] + i:before,
.inpt-style input[type="checkbox"] + i:before {
    font-family: 'FontAwesome';
    font-size: 16px;
    height: 25px;
    width: 25px;
    display: inline-block;
}

.inpt-style input[type="radio"]:checked + i,
.inpt-style input[type="checkbox"]:checked + i {
    position: relative;
    -webkit-animation: icon-beat 0.1s ease;
    animation: icon-beat 0.1s ease;
}

.inpt-style input[type="radio"]:checked + i + span,
.inpt-style input[type="checkbox"]:checked + i + span {
    -webkit-transition: all 0.1s ease;
    transition: all 0.1s ease;
}

/*.inpt-style input[type="radio"] + i:before { content: "\f10c"; }

.inpt-style input[type="radio"]:checked + i:before { content: "\f111"; }

.inpt-style input[type="radio"]:checked + i + span,
.inpt-style input[type="radio"]:checked + i:before { color: rgba(0, 128, 128, 0.5); }*/

.inpt-style input[type="radio"] + i:before { content: "\f096"; }

.inpt-style input[type="radio"]:checked + i:before { content: "\f14a"; }

.inpt-style input[type="radio"]:checked + i + span,
.inpt-style input[type="radio"]:checked + i:before { color: rgba(0, 128, 0, 0.5); }


/* .flx-performance { height: 100px;} */
.flx-performance .flx-cnt-right {flex: 1 auto; border:0px solid #e2e2e2; min-height: 70px;}
/* .flx-performance .flx-cnt-right div {padding:32px 40px;} */

.cstm-width {min-width: 190px; max-width: 210px;}


/*************************LIVE******************/
.live-flx-box {border-bottom: 1px solid #e2e2e2;}
.live-flx-box .lv-driver{flex: 1 1 18%; padding: 30px 10px 10px 50px;}
.live-flx-box .lv-rider{flex: 1 1 13%; padding: 30px 10px 10px 30px; border-left:solid 1px #e2e2e2; border-right:solid 1px #e2e2e2; }
.live-flx-box .lv-booking{ flex: 1 1 60%; padding: 30px 10px 10px 30px;}

.live-flx-box .lv-driver p, .live-flx-box .lv-rider p {display: inline-block; text-align: left; width: 49%; font-size: 11px; color: #999; text-transform: uppercase;}
.live-flx-box .lv-driver p span, .live-flx-box .lv-rider p span {display: block; font-size: 18px; color: #333; font-family: "allerregular"}
.live-flx-box .lv-booking div {min-height:90px; text-transform: uppercase; padding:0 10px 0px 20px; display: inline-block; width:19%; font-size: 12px; vertical-align: top; border-right:solid 1px #e2e2e2;}
.live-flx-box .lv-booking div:nth-of-type(1){padding-left: 0px;}
.live-flx-box .lv-booking div:last-child {border-right:none;}
.live-flx-box .lv-booking div span {display: block; font-size: 18px; font-family: "allerregular"; color: #333;}
.live-flx-box .lv-booking .sub-flx b {display: block; font-style: normal; margin-bottom: 10px;}
.live-flx-box .lv-booking .sub-flx p {display: inline-block; width: 45%; color: #999; font-size: 11px; text-transform: uppercase;}
.lv-driver h4, .lv-rider h4, .lv-booking h4 {font-size: 22px; margin-bottom: 12px; color: #666;}
.lv-driver h4 i, .lv-rider h4 i, .lv-booking h4 i {font-size: 32px; color: #666; vertical-align: middle;}

    /* active state */
.inputMaterial:focus ~ .highlight {
    -webkit-animation:inputHighlighter 0.3s ease;
    -moz-animation:inputHighlighter 0.3s ease;
    animation:inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
    from { background:#5264AE; }
    to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
    from { background:#5264AE; }
    to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter {
    from { background:#5264AE; }
    to 	{ width:0; background:transparent; }
}


.fullscreen {
    width: 100%;
    height: 100%;
    position:fixed;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak, .ng-hide:not(.ng-hide-animate)
{
    display: none !important;
}
.axis path, .axis line
{
    fill: none;
    stroke: #777;
    shape-rendering: crispEdges;
}

.axis text
{
    font-family: 'Arial';
    font-size: 13px;
}
.tick
{
    stroke-dasharray: 1, 2;
}
.bar
{
    fill: FireBrick;
}
