@media only screen and (min-width: 767px) {
    form {
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 767px) {
    .box h4.number.email {
        word-wrap: break-word;
        max-width: 200px;
    }
    .tripInfo-driver-tab .box.box-heading {
        min-height: 128px;
    }
    /*.close-ds-graph-div {*/
        /*top: 5%;*/
        /*right: 3%;*/
    /*}*/

    .table-responsive.trip-detail-table {
        max-width: 202px;
        overflow: auto;
    }

    .geo-hash-detail {
        float: right;
        position: relative;
        z-index: 90;
        margin: 15px 79px 0 0;
        font-size: 13px;
        top: 39px;
        background: #fff;
        right: -69px;
    }

    .card {
        position: fixed;
        top: 54px;
        right: 0;
        z-index: 20;
        background: #fff;
        padding: 5px;
        width: 100%;
        box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
        max-width: 400px;
        height: 100%;
        overflow: auto;
        z-index: 999999;
    }

    .nav-tabs > li > a {
        padding: 10px;
    }

    .table-responsive > .table > thead > tr > th, .table-responsive > .table > tbody > tr > th, .table-responsive > .table > tfoot > tr > th, .table-responsive > .table > thead > tr > td, .table-responsive > .table > tbody > tr > td, .table-responsive > .table > tfoot > tr > td {
        white-space: normal;
    }

    .app-loader {
        position: fixed;
        top: 54px;
        left: 0;
        z-index: 200000000;
        width: 100%;
        height: 100%;
        display: block;
        background-color: rgba(0, 0, 0, 0.4);
    }

    .tab-container {
        padding: 20px 10px;
    }

    .global-tbl table,
    .global-tbl thead,
    .global-tbl tbody,
    .global-tbl th,
    .global-tbl td,
    .global-tbl tr {
        display: block;
    }

    .global-tbl thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    .reload {
        position: fixed;
        right: 20px;
        top: 18px;
        z-index: 999999999 !important;
    }

    .live {
        background-color: rgb(48, 176, 58);
        border-radius: 100%;
        height: 12px;
        line-height: 12px;
        position: fixed;
        right: 72px !important;
        text-indent: 17px;
        top: 22px;
        width: 12px;
        z-index: 15;
        left: inherit;
    }

    .global-tbl td {
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
        white-space: normal;
        text-align: left;
    }

    .global-tbl td:before {
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;

        text-align: left;
        font-weight: bold;
    }

    .global-tbl td:before {
        content: attr(data-title);
    }

    .well {
        width: 90%;
    }

    .content .tabs-view {
        min-width: 300px;
    }

    .tabs-view .col-md-4 {
        margin-bottom: 0px;
    }

    .flx-performance {
        height: auto !important;
    }

    .flx-performance .flx-cnt-right div {
        text-align: left;
        padding: 15px 20px !important;
    }

    .ng-map-info-window {
        width: 310px !important;
    }

    .cstm-width {
        min-width: inherit !important;
        max-width: inherit !important;
    }

    .ngdialog-content {
        left: 5%;
        max-width: 327px;
        top: 17%;
        height: 20%;
        max-height: 130px;
    }

    .radio, .checkbox {
        margin-top: 0px;
        margin-bottom: 0px;
    }

    form {
        margin-bottom: 20px;
    }

    .form-control {
        width: 100%;
    }

    .btn {
        border-radius: 4px !important;
        width: 100%;
        cursor: pointer;
    }

    table td .btn {
        border-radius: 4px !important;
        width: auto;
        cursor: pointer;
    }

    .input-group {
        margin: 5px 0 0px;
    }

    .pagination {
        display: inline-block;
        padding-left: 0;
        margin: 10px;
        border-radius: 4px;
    }

    .pagination > li > a, .pagination > li > span {
        padding: 6px;
    }
}

@media only screen and (max-width: 375px) {
    .box h4.number.email {
        word-wrap: break-word;
        max-width: 200px;
    }

    form {
        margin-bottom: 20px;
    }

    .form-control {
        width: 100%;
    }

    .btn {
        border-radius: 4px !important;
        width: 100%;
        cursor: pointer;
    }

    table td .btn {
        border-radius: 4px !important;
        width: auto;
        cursor: pointer;
    }

    .input-group {
        margin: 5px 0 0px;
    }

    .reload {
        position: fixed;
        right: 20px;
        top: 18px;
        z-index: 999999999 !important;
    }

    .live {
        background-color: rgb(48, 176, 58);
        border-radius: 100%;
        height: 12px;
        line-height: 12px;
        position: fixed;
        right: 72px !important;
        text-indent: 17px;
        top: 22px;
        width: 12px;
        z-index: 15;
        left: inherit;
    }

    .ngdialog-content {
        left: 5%;
        max-width: 327px;
        top: 17%;
        height: 20%;
        max-height: 130px;
    }

    .radio, .checkbox {
        margin-top: 0px;
        margin-bottom: 0px;
    }
}

@media only screen and (max-width: 320px) {
    .box h4.number.email {
        word-wrap: break-word;
        max-width: 200px;
    }

    form {
        margin-bottom: 20px;
    }

    .form-control {
        width: 100%;
    }

    .btn {
        border-radius: 4px !important;
        width: 100%;
        cursor: pointer;
    }

    table td .btn {
        border-radius: 4px !important;
        width: auto;
        cursor: pointer;
    }

    .input-group {
        margin: 5px 0 0px;
    }

    .reload {
        position: fixed;
        right: 20px;
        top: 18px;
        z-index: 999999999 !important;
    }

    .live {
        background-color: rgb(48, 176, 58);
        border-radius: 100%;
        height: 12px;
        line-height: 12px;
        position: fixed;
        right: 47px !important;
        text-indent: 17px;
        top: 64px;
        width: 12px;
        z-index: 15;
        left: inherit;
    }

    .ngdialog-content {
        left: 5%;
        max-width: 327px;
        top: 17%;
        height: 20%;
        max-height: 130px;
    }

    .radio, .checkbox {
        margin-top: 0px;
        margin-bottom: 0px;
    }
}