
@media only screen and (max-width: 1366px) {

}


@media only screen and (min-width: 992px) {

}

@media only screen and (max-width: 991px) {
    .sidenav-open, .navbar-header-toggle {
        padding-left:0px!important;
    }
    .navbar-static-top {
        z-index: 15!important;
    }
    .navbar-inverse .navbar-toggle .icon-bar {
        background-color: #666;
    }
    .navbar-collapse.in ul li a {
        padding: 10px 20px;
        border-width: 0px;
    }
    .sidenav {top:10px;}
    .flx-container {
        height: auto;
    }


    .top-nav .dropdown-menu {
        display: none!important;
    }
    .top-nav .open > .dropdown-menu {
        display: block!important; }
    .nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
        box-shadow: none!important;
        border: none!important;

    }

    .flx-container .flx-cnt-right div {
        flex: 1 50%;
        padding: 5% 5%;
    }
    .flx-container .flx-cnt-left .info-window {
        height: 175px;
    }
    .info-window .iw-header {
        padding: 0px 10px;
    }
    .flx-container .info-window .iw-header .iw-driver {
        height: 80px;
        width: 80px;
    }
    .info-window .iw-content {
        padding: 10px;
    }
    .flx-container .flx-cnt-left .info-window .iw-content h3 {
        margin: 0px;
        font-size: 18px;
    }
    .flx-container .flx-cnt-left .info-window .iw-content h4 {
        font-size: 14px;
    }
    .tab-container {
        padding: 20px 10px;
    }
    .global-tbl table,
    .global-tbl thead,
    .global-tbl tbody,
    .global-tbl th,
    .global-tbl td,
    .global-tbl tr {
        display: block;
    }
    .global-tbl thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
    .global-tbl td {
        /* Behave like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
        white-space: normal;
        text-align:left;
    }
    .global-tbl td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
        text-align:left;
        font-weight: bold;
    }
    .global-tbl td:before { content: attr(data-title); }
    .well {width: 90%;}
    .content .tabs-view {min-width: 300px;}
    .tabs-view .col-md-4 {margin-bottom: 30px;}

    .flx-performance {
        height: auto!important;
    }
    .flx-performance .flx-cnt-right div {
        text-align: left;
        padding: 15px 20px!important;
    }
    .ng-map-info-window {width: 310px!important;}
    .cstm-width {
        min-width: inherit!important;
        max-width: inherit!important;
    }

}
