<style>
    .panel {
        min-height: 550px;
    }

    .search-btn-trip {
        position: fixed;
        right: 9px;
        top: 12px;
        z-index: 91;
    }
</style>
<div class="search-btn-trip">
    <form class="form-inline">
        <div class="form-group">
            <div style="max-height: 34px; overflow: hidden;">
                <a
                        ui-sref="home.search({city: city, vehicleType: vehicleType, filterURL: 'id', term:''})"
                        title="Show All Shapes"
                        class="btn btn-default no-border">
                    <i class="fa fa-search" aria-hidden="true"></i>
                </a>
            </div>
        </div>
    </form>
</div>
<div class="container-fluid">
    <!--<div class="row">-->
    <!--<form class="form-inline date-selection date-selection-dr">-->
    <!--<div class="form-group ">-->
    <!--<input ng-change=" vm.onDateChange()" class="form-control cstm-width text-center" type="daterange"-->
    <!--ng-model="tripDates" separator=" - " format="DD MMM YY" opens="right" ranges="vm.ranges">-->
    <!--</div>-->
    <!--</form>-->
    <!--<span class="reload" ng-click="vm.refreshPage()"><i class="fa fa-refresh" aria-hidden="true"></i></span>-->
    <!--</div>-->
    <br>
    <br>
    <br>
    <br><br>

    <div class="row">
        <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <form class="form-inline pull-right">
                        <div class="form-group ">
                            <!--<div class="radio inpt-style">-->
                            <!--<label><input type="radio" ng-change="vm.changeFrequency('trip', vm.tripFrequency.value)"-->
                            <!--name="optradio" ng-model="vm.tripFrequency.value" value="hour"><i></i> <span>Per Hour</span></label>-->
                            <!--<label><input type="radio" ng-change="vm.changeFrequency('trip', vm.tripFrequency.value)"-->
                            <!--name="optradio" ng-model="vm.tripFrequency.value" value="day"> <i></i> <span>Per Day</span></label>-->

                            <!--</div>-->
                            <input
                                    ng-change="vm.onDateChangeTrips()"
                                    class="form-control text-center"
                                    type="daterange"
                                    ng-model="tripDates"
                                    separator=" - "
                                    format="DD MMM YY"
                                    opens="right"
                                    ranges="vm.ranges"
                                    style="margin: -1px -2px 0px 0px !important;
                                        padding: 0px;
                                        height: 20px;
                                        width: auto; font-size: 11px;">
                        </div>
                    </form>
                    <h4 style="margin-top: 0" class="title">Trips</h4></div>
                <div class="panel-body">
                    <nvd3 options="vm.tripChartOptions" data="vm.tripData" config="vm.config"></nvd3>
                </div>
            </div>
        </div>
        <!--<div class="col-md-6 col-sm-12 col-xs-12">-->
            <!--<div class="panel panel-default">-->
                <!--<form class="form-inline pull-right">-->
                    <!--<div class="form-group ">-->
                        <!--<input-->
                                <!--ng-change="vm.onDateChangeTcash()"-->
                                <!--class="form-control text-center"-->
                                <!--type="daterange"-->
                                <!--ng-model="tripDates"-->
                                <!--separator=" - "-->
                                <!--format="DD MMM YY"-->
                                <!--opens="right"-->
                                <!--ranges="vm.ranges"-->
                                <!--style="margin: 8px 10px 0px 0px !important;-->
                                        <!--padding: 0px;-->
                                        <!--height: 20px;-->
                                        <!--width: auto; font-size: 11px;">-->
                    <!--</div>-->
                <!--</form>-->
                <!--<div class="panel-heading">-->
                    <!--<h4 style="margin-top: 0" class="title">tCash Burned</h4></div>-->
                <!--<div class="panel-body">-->
                    <!--<nvd3 options="vm.tcashChartOptions" data="vm.tcashData" config="vm.config"></nvd3>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->

        <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <form class="form-inline pull-right">
                        <div class="form-group ">
                            <input
                                    ng-change="vm.onDateChangeRide()"
                                    class="form-control text-center"
                                    type="daterange"
                                    ng-model="rideDates"
                                    separator=" - "
                                    format="DD MMM YY"
                                    opens="right"
                                    ranges="vm.ranges"
                                    style="margin: -1px -2px 0px 0px !important;
                                        padding: 0px;
                                        height: 20px;
                                        width: auto; font-size: 11px;">
                        </div>
                    </form>
                    <div class="pull-right" style="position: absolute; right: 28px; top: 3px;" ng-if="">
                <span ng-click="vm.changeDate('prev')" style="display: inline-block; padding: 7px;">
                    &#10094;
                </span>
                <span class="text-center" ng-model="date" style="display: inline-block; padding: 7px 0;">
                    {{date}}
                </span>
                <span ng-click="vm.changeDate('next')" ng-show="!vm.live" style="display: inline-block; padding: 7px;">
                    &#10095;
                </span>
                    </div>
                    <h4 style="margin-top: 0" class="title">Fulfillment</h4></div>
                <div class="panel-body">
                    <div>
                        <nvd3 options="vm.newRidersChartOptions" data="vm.newRiders" config="vm.config"></nvd3>
                    </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-12 col-xs-12 cancelled-trip-quad1">
            <div class="panel panel-default">
                <form class="form-inline pull-right">
                    <div class="form-group ">
                        <input
                                ng-change="vm.onDateChangeTripsCancelled()"
                                class="form-control text-center"
                                type="daterange"
                                ng-model="tripDates"
                                separator=" - "
                                format="DD MMM YY"
                                opens="right"
                                ranges="vm.ranges"
                                style="margin: 8px 10px 0px 0px !important;
                                        padding: 0px;
                                        height: 20px;
                                        width: auto; font-size: 11px;">
                    </div>
                </form>
                <div class="panel-heading">
                    <h4 style="margin-top: 0" class="title">Cancelled Trips</h4></div>
                <div class="panel-body">
                    <div class="col-md-6 col-sm-6 col-xs-12 ">
                        <h5>Driver {{totalCanDriver}}</h5>
                        <nvd3 options="vm.cancelTripByDriverChartOptions" data="vm.cancelledTripByDriver"
                              config="vm.config"></nvd3>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12 ">
                        <h5>Rider {{totalCanRider}}</h5>
                        <nvd3 options="vm.cancelTripByRiderChartOptions" data="vm.cancelledTripByRider"
                              config="vm.config"></nvd3>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="panel panel-default">
                <form class="form-inline pull-right no-mr pd-2-">
                    <div class="form-group ">
                        <input
                                ng-change="vm.onDateChangeBurn()"
                                class="form-control text-center"
                                type="daterange"
                                ng-model="burnDates"
                                separator=" - "
                                format="DD MMM YY"
                                opens="right"
                                ranges="vm.ranges"
                                style="margin: 8px 10px 0px 0px !important;
                                        padding: 0px;
                                        height: 20px;
                                        width: auto; font-size: 11px;">
                    </div>
                </form>
                <div class="panel-heading">

                    <h4 style="margin-top: 0" class="title">Burn</h4></div>
                <div class="panel-body">
                    <nvd3 options="vm.burnChartOptions" data="vm.burnData" config="vm.config"></nvd3>
                </div>
            </div>
        </div>
    </div>

</div>