<style>
    .navbar-fixed-top, .navbar-fixed-bottom {
        z-index: 10;
    }

    .live {
        background-color: rgb(48, 176, 58);
        border-radius: 100%;
        height: 12px;
        line-height: 12px;
        position: absolute;
        right: 50px !important;
        text-indent: 17px;
        top: 22px;
        width: 12px;
        z-index: 999999999;
        left: inherit;
    }

    .card-bg-img {
        background: url("https://images1-focus-opensocial.googleusercontent.com/gadgets/proxy?url={{vm.driver.profile.profileImage}}&container=focus&resize_w=200&resize_h=250&refresh=2592000"), url("assets/images/ajax-loader.gif");
        background-color: #fff;
        background-size: cover, 20px;
        background-repeat: no-repeat;
        background-position: center 20%;
    }

    .close-card {
        position: absolute;
        right: 18px;
        top: 15px;
    }
</style>
<style>
    .custom-marker.my1 {
        font-size: 1.5em;
        padding: 10px;
        background: #fff;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        border: #7F7F7F solid 1px;
    }

    .custom-marker.my1:after {
        content: '';
        position: absolute;
        border-style: solid;
        border-width: 7px 6px 0;
        border-color: #fff transparent;
        display: block;
        width: 0;
        z-index: 1;
        margin-left: -6px;
        bottom: -6px;
        left: 50%;
    }

    .custom-marker.my1:before {
        content: '';
        position: absolute;
        border-style: solid;
        border-width: 7px 6px 0;
        border-color: #7F7F7F transparent;
        display: block;
        width: 0;
        z-index: 0;
        margin-left: -6px;
        bottom: -7px;
        left: 50%;
    }

    .custom-marker.my2 {
        font-size: 1.5em;
        padding: 10px;
        background: #fff;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        border: #7F7F7F solid 1px;
        background: red;
    }

    .custom-marker.my2:after {
        content: '';
        position: absolute;
        border-style: solid;
        border-width: 7px 6px 0;
        border-color: red transparent;
        display: block;
        width: 0;
        z-index: 1;
        margin-left: -6px;
        bottom: -6px;
        left: 50%;
    }

    .custom-marker.my2:before {
        content: '';
        position: absolute;
        border-style: solid;
        border-width: 7px 6px 0;
        border-color: #7F7F7F transparent;
        display: block;
        width: 0;
        z-index: 0;
        margin-left: -6px;
        bottom: -7px;
        left: 50%;
    }
</style>

<div class="content">
    <div class="row" style="z-index:99; position:fixed; width:auto; padding:10px 0; left:53px;">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <span ng-click="vm.changeDate('prev')" style="display: inline-block; padding: 7px;">&#10094;</span>
            <span class="text-center" ng-model="date"
                  style="display: inline-block; padding: 7px 0;">{{dsDate}}</span> <span
                ng-click="vm.changeDate('next')" ng-if="!vm.live"
                style="display: inline-block; padding: 7px;">&#10095;</span>
        </div>
    </div>

    <div class="geo-hash-detail" ng-if="vm.dsShow">
        <span>D: <b>{{vm.hashDetail.demand}}</b></span>
        <span>S: <b>{{vm.hashDetail.supply}}</b></span>
        <span>|</span>
        <span ng-click="vm.showDSGraph();">History</span>
    </div>
    <div class="geo-hash-select">
        <select class="form-control" ng-change="vm.onPrecisionChange()" style="padding:5px 10px; border-radius: 4px;"
                ng-model="vm.selectedPrecision"
                ng-options="precision.name for precision  in  vm.precisionArr track by precision.value">

        </select>
    </div>
    <ng-map click id="bidMap" center="indore" style="width:100%; height:100%; position:fixed"
            zoom="{{vm.selectedPrecision.value+7}}">
        <div>
            <marker ng-repeat="data in vm.data track by $index" title="{{data.id}}"
                    icon="{ url:'assets/images/icons/marker-green.svg', scaledSize:[30,30]}"
                    id="free-driver-{{$index}}"
                    on-click="vm.showDetail(data,'free-driver-'+$index)"
                    position="{{(data.hash.boxBounds[0][0] + data.hash.boxBounds[1][0])/2}},{{(data.hash.boxBounds[0][1] + data.hash.boxBounds[1][1])/2}}">
            </marker>
        </div>
        <div class="geo-hash-box">
            <shape ng-repeat="data in allHash" name="rectangle"
                   editable="false"
                   draggable="false"
                   fill-color="#0000ff"
                   fill-opacity={{(data.rank)/10}}
                   stroke-color="#0000ff"
                   stroke-weight="0.4"
                   stroke-opacity="0.5"
                   bounds={{data.hash.boxBounds}}
                   clickable="true" on-click="vm.showGeoHashDetail()">
            </shape>
        </div>
    </ng-map>
    <div class="ds-graph-div" ng-if="dsGraph">
        <div class="row" style="padding:5% 10%;">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <span ng-click="vm.hideDSGraph();" class="close-ds-graph-div pull-right"><i class="fa fa-remove"></i></span>
                        <h4 style="margin-top: 0" class="title">History</h4></div>
                    <div class="panel-body">
                        <div>
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                                    <span ng-click="vm.changeDateDS('prev')" style="display: inline-block; padding: 7px;">&#10094;</span>
            <span class="text-center" ng-model="date"
                  style="display: inline-block; padding: 7px 0;">{{date}}</span> <span
                                        ng-click="vm.changeDateDS('next')" ng-if="!vm.liveDS"
                                        style="display: inline-block; padding: 7px;">&#10095;</span>
                                </div>
                            </div>
                            <nvd3 options="vm.dsGraphOptions" data="vm.dsGraphData" config="vm.config" height="50%"></nvd3>
                            <div class="text-center" style="padding: 10px 0"><h3 class="no-mr">{{vm.axisGeohash}}</h3><span ng-if="vm.axisTitle1">{{vm.axisTitle1}}</span><span ng-if="vm.axisTitle2"><br>{{vm.axisTitle2}}</span></div>
                        </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="card" ng-show="vm.driver.profile">
        <span class="fa fa-remove close-card" ng-click="vm.hideCard()"></span>

        <div class="view overlay hm-white-slight card-bg-img">
        </div>
        <div class="card-block">
            <h3 class="card-title">{{vm.driver.profile.name}}</h3>

            <div>
                <table class="table">
                    <tbody>
                    <tr>
                        <!--<td class="text-center"><i class="fa fa-user"></i></td>-->
                        <td class="text-bold" width="80">ID#</td>
                        <td>{{vm.driver.profile.id}}</td>
                    </tr>
                    <tr>
                        <!--<td class="text-center"><i class="fa fa-mobile-phone"></i></td>-->
                        <td class="text-bold">Phone#</td>
                        <td>{{vm.driver.profile.phone}}</td>
                    </tr>
                    <tr>
                        <!--<td class="text-center"><i class="fa fa-taxi"></i></td>-->
                        <td class="text-bold">Vehicle#</td>
                        <td>{{vm.driver.profile.vehicle}}</td>
                    </tr>
                    <tr>
                        <!--<td class="text-center" width="10"><i class="fa fa-clock-o"></i></td>-->
                        <td class="text-bold">Time</td>
                        <td>{{vm.driver.time | date:'shortTime'}}</td>
                    </tr>
                    <tr>
                        <!--<td class="text-center"><i class="fa fa-map-marker"></i></td>-->
                        <td class="text-bold">Location</td>
                        <td style="max-width:100px">
                            <span ng-if="vm.driver.address">{{vm.driver.address}}</span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
    <div class="tabs-view tabs-view-2">
        <button ng-click="tabView = !tabView" ng-class="{'left-arrow' : tabView}"
                class="btn btn-default tabs-toggle-btn map-btn" title="Show More...">
            <i class="fa fa-angle-double-right"></i>
        </button>
        <div class="tabs-toggle" ng-class="{'tabs-show' : !tabView}">
            <uib-tabset active="active">
                <uib-tab index="0" heading="Drivers">
                    <div class="row">
                        <div class="col-md-12" style="min-height: 80px;">
                            <div class="pentagon available">
                                <div class="text-center">
                                    <h4>Free</h4>
                                    <span>{{vm.data.length}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </uib-tab>
            </uib-tabset>
        </div>
    </div>
</div>