<style>
    .custom-marker.my1 {
        font-size: 1.5em;
        padding: 10px;
        background: #fff;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        border: #7F7F7F solid 1px;
    }

    .custom-marker.my1:after {
        content: '';
        position: absolute;
        border-style: solid;
        border-width: 7px 6px 0;
        border-color: #fff transparent;
        display: block;
        width: 0;
        z-index: 1;
        margin-left: -6px;
        bottom: -6px;
        left: 50%;
    }

    .custom-marker.my1:before {
        content: '';
        position: absolute;
        border-style: solid;
        border-width: 7px 6px 0;
        border-color: #7F7F7F transparent;
        display: block;
        width: 0;
        z-index: 0;
        margin-left: -6px;
        bottom: -7px;
        left: 50%;
    }

    .custom-marker.my2 {
        font-size: 1.5em;
        padding: 10px;
        background: #fff;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        border: #7F7F7F solid 1px;
        background: red;
    }

    .custom-marker.my2:after {
        content: '';
        position: absolute;
        border-style: solid;
        border-width: 7px 6px 0;
        border-color: red transparent;
        display: block;
        width: 0;
        z-index: 1;
        margin-left: -6px;
        bottom: -6px;
        left: 50%;
    }

    .custom-marker.my2:before {
        content: '';
        position: absolute;
        border-style: solid;
        border-width: 7px 6px 0;
        border-color: #7F7F7F transparent;
        display: block;
        width: 0;
        z-index: 0;
        margin-left: -6px;
        bottom: -7px;
        left: 50%;
    }
</style>

<div class="content">
    <div class="row" style="z-index:99; position:fixed; width:auto; padding:10px 0; left:53px;">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <span ng-click="vm.changeDate('prev')" style="display: inline-block; padding: 7px;">&#10094;</span>
            <span class="text-center" ng-model="date"
                  style="display: inline-block; padding: 7px 0;">{{dsDate}}</span> <span
                ng-click="vm.changeDate('next')" ng-if="!vm.live"
                style="display: inline-block; padding: 7px;">&#10095;</span>
        </div>
    </div>
    <div class="geo-hash-detail" ng-if="vm.dsShow">
        <span>D: <b>{{vm.hashDetail.demand}}</b></span>
        <span>S: <b>{{vm.hashDetail.supply}}</b></span>
    </div>
    <div class="geo-hash-select">
        <select ng-change="vm.onPrecisionChange()" style="padding:5px 10px; border-radius: 4px;"
                ng-model="vm.selectedPrecision"
                ng-options="precision.name for precision  in  vm.precisionArr track by precision.value">

        </select>
    </div>
    <ng-map click id="bidMap" center="indore" style="width:100%; height:100%; position:fixed"
    zoom="{{vm.selectedPrecision.value+8}}">
        <div ng-repeat="data in allHash" class="geo-hash-box">
            <shape name="rectangle"
                   editable="false"
                   draggable="false"
                   fill-color="#0000ff"
                   fill-opacity={{(data.rank)/10}}
                   stroke-color="#0000ff"
                   stroke-weight="0.4"
                   stroke-opacity="0.5"
                   bounds={{data.hash.boxBounds}}
                   clickable="true" on-click="vm.showGeoHashDetail()">
            </shape>
        </div>
        <!--<ng-map click id="bidMap" center="indore" style="width:100%; height:100%; position:fixed"-->
        <!--zoom="13">-->

        <!--<custom-marker class="custom-marker my1" ng-repeat="data in allHash" position="{{(data.hash.boxBounds[0][0] + data.hash.boxBounds[1][0])/2}},{{(data.hash.boxBounds[0][1] + data.hash.boxBounds[1][1])/2}}"-->
        <!--on-mouseover="mouseover()" on-mouseout="mouseout()"-->
        <!--on-click="click()">-->
        <!--<div class="my1">-->
        <!--<div>D: {{data.demand}}, S: {{data.supply}}</div>-->
        <!--</div>-->
        <!--</custom-marker>-->

        <!--<marker icon="{-->
        <!--url:'assets/images/icons/marker-red.svg',-->
        <!--scaledSize:[30,30]-->
        <!--}" title="Demand: {{data.demand}}, Supply: {{data.supply}}" id="driver-{{$index}}"-->
        <!--on-click="vm.map.showInfoWindow('iw-window', 'driver-'+$index)"-->
        <!--position="{{(data.hash.boxBounds[0][0] + data.hash.boxBounds[1][0])/2}},{{(data.hash.boxBounds[0][1] + data.hash.boxBounds[1][1])/2}}">-->
        <!--</marker>-->
        <!--<info-window visible-on-marker="driver-{{$index}}" id="iw-window">-->
        <!--<div ng-non-bindable>-->
        <!--<div class="info-window">-->
        <!--<div class="iw-wrapper">-->
        <!--<div class="iw-content">-->
        <!--Demand: {{data.demand}}<br>-->
        <!--Supply: {{data.supply}}-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--</info-window>-->
    </ng-map>

    <div class="row geo-fence-tbl" ng-if=" vm.groupCreation || vm.groupEdit">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="panel panel-default ">
                <div class="panel-heading">
                    <h4 style="margin-top: 0" class="title"><span class="pull-right"
                                                                  ng-click="vm.onPrecisionChange()"><i
                            aria-hidden="true" class="fa fa-plus"></i></span>Geo Hash</h4>
                </div>
                <div class="panel-body">
                    <form role="form" class="form-horizontal" name="settingForm" novalidate>
                        <div class="form-group time-picker">
                            <label class="col-sm-3 control-label">Duration</label>

                            <div class="col-sm-4">
                                <uib-timepicker ng-model="vm.setting.startTime" ng-change="changed()"
                                                hour-step="vm.hstep" minute-step="vm.mstep"
                                                show-meridian="ismeridian"></uib-timepicker>
                            </div>
                            <div class="col-sm-4">
                                <uib-timepicker ng-model="vm.setting.endTime" ng-change="changed()" hour-step="vm.hstep"
                                                minute-step="vm.mstep" show-meridian="ismeridian"></uib-timepicker>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Geo Hash</label>

                            <div class="col-sm-9">
                                <div ng-if="vm.setting.geoHashArr.length>0">
                                            <span ng-repeat="box in vm.setting.geoHashArr" class="label label-info">{{box.geoHash}}
                                                <!--<button class="label-btn" ng-click="vm.removeGeoHash($index)">-->
                                                <!--x-->
                                            <!--</button>-->
                                            </span>
                                </div>
                                <div ng-if="vm.setting.geoHashArr.length<=0">No geohash created</div>

                                <p class="help-block"></p>
                            </div>

                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Type</label>

                            <div class="col-md-9">
                                <label class="radio-inline">
                                    <input ng-model="vm.setting.type" type="radio" value="x" name="chargeType"
                                           checked="checked" required>
                                    x
                                </label>
                                <label class="radio-inline">
                                    <input ng-model="vm.setting.type" type="radio" value="a" name="chargeType" required>
                                    +
                                </label>

                                <p class="help-block"></p>

                                <div ng-messages="settingForm.chargeType.$error"
                                     ng-if="settingForm.chargeType.$touched">
                                    <div ng-message="required">This field is required</div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" >Charge</label>

                            <div class="col-sm-9">
                                <input type="number" ng-model="vm.setting.value" placeholder="Charge" name="inputCharge"
                                       class="form-control" required>

                                <div ng-messages="settingForm.inputCharge.$error"
                                     ng-if="settingForm.inputCharge.$touched">
                                    <div ng-message="required">This field is required</div>
                                </div>
                                <p class="help-block"></p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" >Driver Value</label>

                            <div class="col-sm-9">
                                <input type="number" ng-model="vm.setting.driverValue" placeholder="Driver Value"
                                       name="inputDriverValue" class="form-control" required>

                                <div ng-messages="settingForm.inputDriverValue.$error"
                                     ng-if="settingForm.inputDriverValue.$touched">
                                    <div ng-message="required">This field is required</div>
                                </div>
                                <p class="help-block"></p>
                            </div>
                        </div>


                        <div class="form-group">
                            <label class="col-sm-3 control-label" >Group Name</label>

                            <div class="col-sm-9">
                                <input type="text" placeholder="Group Title" name="inputGroupTitle"
                                       ng-model="vm.setting.groupTitle"
                                       class="form-control" required>

                                <div ng-messages="settingForm.inputGroupTitle.$error"
                                     ng-if="settingForm.inputGroupTitle.$touched">
                                    <div ng-message="required">This field is required</div>
                                </div>
                                <p class="help-block"></p>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-3 col-sm-9">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" ng-model="vm.setting.forceConfirm"
                                               style="margin-top: 2px"> Force Confirm
                                    </label>
                                </div>
                                <p class="help-block"></p>
                                <button ng-click="vm.createSurge()"
                                        ng-disabled="!vm.setting.geoHashArr.length>0 || settingForm.$invalid"
                                        class="btn btn-success pull-left" type="submit">Save
                                </button>
                                <button ng-click="vm.removeGroup(vm.setting.groupId)"
                                        ng-if="vm.setting.groupId"
                                        class="btn btn-danger pull-right" type="button">Delete
                                </button>

                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>