<style>
    .navbar-fixed-top, .navbar-fixed-bottom {
        z-index: 10;
    }

    .live {
        background-color: rgb(48, 176, 58);
        border-radius: 100%;
        height: 12px;
        line-height: 12px;
        position: absolute;
        right: 50px !important;
        text-indent: 17px;
        top: 22px;
        width: 12px;
        z-index: 10;
        left: inherit;
    }
</style>
<div class="content">
    <div class="live"> LIVE</div>
    <div class="content-div">

        <ng-map id="drivers_map" center="indore" style="height:100%" zoom="12">
            <map-data load-geo-json={{vm.API_URL}}geofence>
            </map-data>
            <div>
                <marker ng-repeat="data in vm.data track by $index" title="{{data.id}}"
                        icon="{ url:'assets/images/icons/marker-green.svg', scaledSize:[30,30]}"
                        id="free-driver-{{$index}}"
                        on-click="vm.showDetail(data,'free-driver-'+$index)"
                        position="{{(data.hash.boxBounds[0][0] + data.hash.boxBounds[1][0])/2}},{{(data.hash.boxBounds[0][1] + data.hash.boxBounds[1][1])/2}}">
                </marker>
            </div>

            <info-window id="iw-drivers">
                <div ng-non-bindable="" ng-if="vm.driver.profile">
                    <div class="info-window">
                        <div class="iw-wrapper">
                            <div class="iw-header text-center">
                                <img ng-src="{{vm.driver.profile.profile_image}}" class="iw-driver" height="50">

                                <h3>{{vm.driver.profile.name}}</h3>

                            </div>
                            <div class="iw-content">
                                <table class="table">
                                    <tbody>
                                    <tr>
                                        <td class="text-center"><i class="fa fa-clock-o"></i></td>
                                        <td>Time</td>
                                        <td>{{vm.driver.time | date:'shortTime'}}</td>
                                    </tr>
                                    <tr>
                                        <td class="text-center"><i class="fa fa-mobile-phone"></i></td>
                                        <td>Phone#</td>
                                        <td>{{vm.driver.profile.phone}}</td>
                                    </tr>
                                    <tr>
                                        <td class="text-center"><i class="fa fa-taxi"></i></td>
                                        <td>Vehicle#</td>
                                        <td>{{vm.driver.profile.vehicle}}</td>
                                    </tr>
                                    <tr>
                                        <td class="text-center"><i class="fa fa-user"></i></td>
                                        <td>ID#</td>
                                        <td>{{vm.driver.profile.driverId}}</td>
                                    </tr>
                                    <tr>
                                        <td class="text-center"><i class="fa fa-map-marker"></i></td>
                                        <td>Location</td>
                                        <td style="max-width:100px"><a ng-click="vm.clicked(vm.driver.marker)"><span
                                                ng-if="!vm.driver.address">Show</span></a>
                                            <span ng-if="vm.driver.address">{{vm.driver.address}}</span>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </info-window>


        </ng-map>
        <div class="tabs-view tabs-view-2">
            <button ng-click="tabView = !tabView" ng-class="{'left-arrow' : tabView}"
                    class="btn btn-default tabs-toggle-btn map-btn" title="Show More...">
                <i class="fa fa-angle-double-right"></i>
            </button>
            <div class="tabs-toggle" ng-class="{'tabs-show' : !tabView}">
                <uib-tabset active="active">
                    <uib-tab index="0" heading="Drivers">
                        <div class="row">
                            <!--
              <div class="col-md-4">
                              <div class="pentagon total">
                                <div class="text-center">
                                  <h4>Total</h4>
                                  <span>{{vm.allDrivers.total}}</span>
                                </div>
                              </div>
                            </div>

                            <div class="col-md-6">
                              <div class="pentagon occupied">
                                <div class="text-center">
                                  <h4>Occupied</h4>
                                  <span>{{vm.allDrivers.occupied.total}}</span>
                                </div>
                              </div>
                            </div>
                             -->
                            <div class="col-md-12" style="min-height: 80px;">
                                <div class="pentagon available">
                                    <div class="text-center">
                                        <h4>Free</h4>
                                        <span>{{vm.data.length}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </uib-tab>
                </uib-tabset>
            </div>
        </div>
    </div>
</div>

