<style>
html {
    height: 100%;
}
body {
    background-color: #333;
    height: 100%;
    background-image: url("../../assets/images/blur-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
</style>
<div class="well login-bg">
  <div class="row">
    <div class=" col-md-12">
    	<div class="col-md-12">
    		<h1 class="logo-login"><img src="assets/images/gotuktuk-play-logo.png" title="Tuktuk" height="64"></h1>
    	</div>
    	<div class="col-md-12">
    	<form name="login" novalidate>
        <div class="group">
          <input class="inputMaterial" type="text" ng-model="user.username" required placeholder="Username">

        </div>
        <div class="help-block animated slideInUp" ng-messages="login.username.$error"
             ng-if="login.username.$touched">
          <p ng-message="required"> Please enter username.</p>
        </div>
        <div class="group">
          <input class="inputMaterial" type="password" ng-model="user.password" required placeholder="Password">

        </div>
        <div class="help-block animated slideInUp" ng-messages="login.password.$error"
             ng-if="login.password.$touched">
          <p ng-message="required"> Please enter password.</p>
        </div>
        <div class="group">
          <button class="btn btn-info form-control" ng-disabled="login.$invalid" ng-click="loginUser()">Login</button>
        </div>

      </form>
    	</div>
    </div>
  </div>
</div>
