<h1 class="logoLogin"><img src="assets/images/tuktuk-logo.png" title="Tuktuk" height="75px"></h1>
<div class="well">
  <div class="row">
    <div class=" col-md-12">

      <br>
      <form name="login" novalidate>
        <div class="group">
          <input class="inputMaterial" type="text" ng-model="user.username" required>
          <span class="highlight"></span>
          <span class="bar"></span>
          <label>Username</label>
        </div>
        <div class="help-block animated slideInUp" ng-messages="login.username.$error"
             ng-if="login.username.$touched">
          <p ng-message="required"> Please enter username.</p>
        </div>
        <div class="group">
          <input class="inputMaterial" type="password" ng-model="user.password" required>
          <span class="highlight"></span>
          <span class="bar"></span>
          <label>Password</label>
        </div>
        <div class="help-block animated slideInUp" ng-messages="login.password.$error"
             ng-if="login.password.$touched">
          <p ng-message="required"> Please enter password.</p>
        </div>
        <div class="group">
          <button class="btn btn-info form-control" ng-disabled="login.$invalid" ng-click="loginUser()">Login</button>
        </div>

      </form>
    </div>
  </div>
</div>
