<div class="container-fluid">
    <div class="row" style="z-index:99; position:fixed; width:98%; padding:10px 0; left:53px;">
        <div class="col-md-12 col-sm-12 col-xs-12"></div>
    </div>
    <br>
    <br>
    <br>
    <br><br>
    <div class="tabs-view">
        <div>
            <uib-tabset active="active">
                <uib-tab index="0" heading="All Drivers" select="vm.tabChanged('topic')">
                    <div class="row">
                        <div class="col-md-8 col-sm-12 col-xs-12">
                            <form role="form" name="msgForm" novalidate>
                                <div class="form-group col-md-6">
                                    <label class="control-label">TYPE</label><br>
                                    <label class="radio-inline"><input ng-model="vm.formObj.notificationType" type="radio" value="push" name="inputNotificationType">Push</label>
                                    <label class="radio-inline"><input ng-model="vm.formObj.notificationType" type="radio" value="sms" name="inputNotificationType" disabled>SMS</label>
                                    <p class="help-block"></p>
                                    <br>
                                </div>
                                <div class="form-group col-md-6">
                                    <label class="control-label">LANGUAGE</label><br>
                                    <label class="radio-inline"><input type="radio" ng-model="vm.formObj.message.lang" value="en" name="inputLang">English</label>
                                    <label class="radio-inline"><input type="radio" ng-model="vm.formObj.message.lang" value="hin" name="inputLang">Hindi</label>

                                    <p class="help-block"></p>
                                    <br>
                                </div>
                                <div class="form-group col-md-12">
                                    <label for="title" class="control-label">Title</label>
                                    <input ng-model="vm.formObj.message.title" type="text" placeholder="Enter Title" name="inputTitle" class="form-control" required>
                                    <div ng-messages="msgForm.inputTitle.$error" ng-if="msgForm.inputTitle.$touched">
                                        <div ng-message="required">This field is required</div>
                                    </div>
                                    <p class="help-block"></p>
                                    <br>
                                </div>
                                <div class="form-group col-md-12">
                                    <label for="comment">MESSAGE</label>
                                    <textarea ng-model="vm.formObj.message.message" class="form-control" rows="5" name="inputMessage" required></textarea>

                                    <p class="help-block"></p>
                                    <!--<p class="help-block">Character Count: {{"149"}}</p>-->
                                    <div ng-messages="msgForm.inputMessage.$error" ng-if="msgForm.inputMessage.$touched">
                                        <div ng-message="required">This field is required</div>
                                    </div>
                                    <br>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="URL" class="control-label">URL</label>
                                    <input ng-model="vm.formObj.message.url" type="text" placeholder="Enter URL" name="inputURL" class="form-control" required>
                                    <br>
                                </div>
                                <div class="form-group col-md-2">
                                    <label for="URL" class="control-label">Expiration</label>
                                    <select class="form-control" style="padding:5px 10px; border-radius: 4px;">
                                        <option>01 hr</option>
                                        <option>12 hr</option>
                                        <option>24 hr</option>
                                        <option>01 week</option>
                                    </select>

                                    <p class="help-block"></p>
                                    <br>
                                </div>
                                <div class="form-group col-md-12">
                                    <button class="btn btn-success" type="submit" ng-disabled="msgForm.$invalid" ng-click="vm.sendPushMsg()">Send <i class="fa fa-paper-plane" aria-hidden="true"></i>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </uib-tab>
                <uib-tab index="1" heading="Selected Driver"  select="vm.tabChanged('user')">
                    <div class="row">
                        <div class="col-md-8 col-sm-12 col-xs-12">
                            <form role="form" name="msgForm1">
                                <div class="form-group col-md-6">
                                    <label class="control-label">TYPE</label><br>
                                    <label class="radio-inline"><input ng-model="vm.formObj.notificationType" type="radio" value="push" name="inputNotificationType">Push</label>
                                    <label class="radio-inline"><input ng-model="vm.formObj.notificationType" type="radio" value="sms" name="inputNotificationType" disabled>SMS</label>
                                    <p class="help-block"></p>
                                    <br>
                                </div>
                                <div class="form-group col-md-6">
                                    <label class="control-label">LANGUAGE</label><br>
                                    <label class="radio-inline"><input type="radio" ng-model="vm.formObj.message.lang" value="en" name="inputLang">English</label>
                                    <label class="radio-inline"><input type="radio" ng-model="vm.formObj.message.lang" value="hin" name="inputLang">Hindi</label>

                                    <p class="help-block"></p>
                                    <br>
                                </div>
                                <div class="form-group col-md-12">
                                    <label for="title" class="control-label">Title</label>
                                    <input ng-model="vm.formObj.message.title" type="text" placeholder="Enter Title" name="inputTitle" class="form-control" required>
                                    <div ng-messages="msgForm1.inputTitle.$error" ng-if="msgForm1.inputTitle.$touched">
                                        <div ng-message="required">This field is required</div>
                                    </div>
                                    <p class="help-block"></p>
                                    <br>
                                </div>
                                <div class="form-group col-md-12">
                                    <label for="comment">DRIVERS</label><br>
                                    <div ng-repeat="driver in vm.selectedDrivers" class="badge">{{driver.name}}</div>
                                    <p class="help-block"></p>
                                    <br>
                                </div>
                                <div class="form-group col-md-12">
                                    <label for="comment">MESSAGE</label>
                                    <textarea ng-model="vm.formObj.message.message" class="form-control" rows="5" name="inputMessage" required></textarea>
                                    <div ng-messages="msgForm1.inputMessage.$error" ng-if="msgForm1.inputMessage.$touched">
                                        <div ng-message="required">This field is required</div>
                                    </div>
                                    <p class="help-block"><a href="https://chrome.google.com/webstore/detail/google-input-tools/mclkkofklkfljcocdinagocijmpgbhab" target="_blank">(Download Chrome Extensions)</a></p>
                                    <br>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="URL" class="control-label">URL</label>
                                    <input ng-model="vm.formObj.message.url" type="text" placeholder="Enter URL" name="inputURL" class="form-control">

                                    <p class="help-block"></p>
                                    <br>
                                </div>
                                <div class="form-group col-md-2">
                                    <label for="URL" class="control-label">Expiration</label>
                                    <select class="form-control" style="padding:5px 10px; border-radius: 4px;">
                                        <option>01 hr</option>
                                        <option>12 hr</option>
                                        <option>24 hr</option>
                                        <option>01 week</option>
                                    </select>

                                    <p class="help-block"></p>
                                    <br>
                                </div>
                                <div class="form-group col-md-12">
                                    <button class="btn btn-success" type="submit" ng-disabled="msgForm1.$invalid" ng-click="vm.sendPushMsg()">Send <i class="fa fa-paper-plane" aria-hidden="true"></i>
                                    </button>
                                </div>
                            </form>
                        </div>
                        <div class="col-md-4 col-sm-12 col-xs-12">
                            <label for="URL" class="control-label">SELECT DRIVERS</label>
                            <!--<div class="input-group col-md-3 col-sm-12 col-xs-12">-->
                                <!--<input ng-model="vm.searchTerm" class="form-control input-search-term" placeholder="Driver Name"/>-->
                            <!--</div>-->
                            <!--<div class="input-group col-md-1 col-sm-12 col-xs-12">-->
                                <!--<button ng-disabled="!vm.searchTerm" ng-click="vm.searchTable()" class="btn btn-small">Search-->
                                <!--</button>-->
                            <!--</div>-->
                            <div class="table-responsive" style="max-height: 400px; overflow: auto;">

                                <table ng-table="tableParams" class="table table-bordered table-striped text-center">
                                    <tbody>

                                    <tr ng-repeat="row in $data track by $index">
                                        <td data-title="'#'" class="text-center">
                                            <input type="checkbox" ng-model="row.selected" ng-change="vm.selectDriver(row, row.driver_id)">
                                        </td>
                                        <td data-title="'Name'" sortable="'name'" class="text-left">
                                            <a target="_blank"
                                               ui-sref="home.drivers_detail({driverId:row.driver_id})">
                                                {{row.name}}
                                            </a>
                                        </td><td data-title="'Vehicle Number'" sortable="'vNumber'" class="text-center">
                                            <a target="_blank"
                                               ui-sref="home.drivers_detail({driverId:row.driver_id})">
                                                {{row.vNumber}}
                                            </a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>
                </uib-tab>
            </uib-tabset>
        </div>
    </div>


</div>