<div class="content">
    <div class="geo-hash-select">
        <select ng-change="vm.onPrecisionChange()" style="padding:5px 10px; border-radius: 4px;" ng-model="vm.selectedPrecision" ng-options="precision.name for precision  in  vm.precisionArr track by precision.value">

        </select>
    </div>

    <div class="row">
        <div class="content-div">
            <ng-map id="surgeMap" center="indore" style="height:100%" zoom="{{vm.selectedPrecision.value+8}}">
                <div ng-repeat="arr in vm.rectArray" class="geohashBox">
                    <shape  name="rectangle"
                           editable="false"
                           draggable="false"
                           bounds={{arr.boxBounds}}
                           on-bounds_changed="vm.boundsChanged()">

                    </shape>
                    <div class="geohashLabel"> <label>{{arr.geoHash}}</label></div>

                </div>

            </ng-map>
            <div class="row geo-fence-tbl">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="panel panel-default ">
                        <div class="panel-heading">
                            <h4 style="margin-top: 0" class="title">City Fence</h4>
                        </div>
                        <div class="panel-body">
                            <table class="table table-inverse table-bordered">
                                <thead>
                                <tr>
                                    <th width="30" class="text-center">#</th>
                                    <th>Geo Hash</th>
                                    <th width="30" class="text-center"><span class="fa fa-eye pointer"
                                                                             ng-click="toggle = !toggle"
                                                                             ng-class="{'red' : toggle}"></span></th>

                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="box in vm.rectArray">
                                    <td class="text-center">{{$index}}</td>
                                    <td>{{box.geoHash}}</td>
                                    <td class="text-center"><span class="fa fa-remove pointer" ng-click="vm.removeGeoHash($index)"></span>
                                    </td>

                                </tr>

                                </tbody>
                            </table>
                            <div>
                                <label>Group Name</label><input type="text"  class="form-control"></input>
                                <button class="btn">Save</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="panel panel-info">
                        <div class="panel-heading">Surge Settings</div>
                        <div class="panel-body">
                            <form role="form" class="form-horizontal">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label" for="selectType">Type</label>

                                    <div class="col-sm-9" id="selectType">
                                        <select style="padding:5px 10px; border-radius: 4px;">
                                            <option value="0"> Multiple</option>
                                            <option value="1"> Plus</option>
                                        </select>

                                        <p class="help-block"></p>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-3 control-label" for="inputCharge">Charge</label>

                                    <div class="col-sm-9">
                                        <input type="text" placeholder="Charge" id="inputCharge" class="form-control">

                                        <p class="help-block"></p>
                                    </div>
                                </div>

                                <!--<div class="form-group">
                                    <label class="col-sm-3 control-label" for="inputDate">Date</label>

                                    <div class="col-sm-9">
                                        <input type="text" placeholder="Date" id="inputDate" class="form-control">

                                        <p class="help-block"></p>
                                    </div>
                                </div>-->

                                <div class="form-group">
                                    <label class="col-sm-3 control-label" for="inputStartTime">Duration</label>

                                    <div class="col-sm-9">
                                        <input enabletimepicker="true" ng-change="vm.getAllData()" class="form-control cstm-width text-center" type="daterange"
                                               ng-model="selectedDates" separator=" - " format="MM/DD/YYYY h:mm A" opens="left">
                                       <!-- <input type="text" placeholder="Start Time" id="inputStartTime"
                                               class="form-control">-->

                                        <p class="help-block"></p>
                                    </div>
                                </div>

                                <!--<div class="form-group">
                                    <label class="col-sm-3 control-label" for="inputEndTime">End Time</label>

                                    <div class="col-sm-9">
                                        <input type="text" placeholder="End Time" id="inputEndTime"
                                               class="form-control">

                                        <p class="help-block"></p>
                                    </div>
                                </div>-->

                                <div class="form-group">
                                    <div class="col-sm-offset-3 col-sm-9">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox"> Active
                                            </label>
                                        </div>
                                    </div>
                                </div>

                                <button class="btn btn-default pull-right" type="submit">Save</button>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
