<div class="content">
    <div class="geo-hash-select">
        <select ng-change="vm.onPrecisionChange()" style="padding:5px 10px; border-radius: 4px;"
                ng-model="vm.selectedPrecision"
                ng-options="precision.name for precision  in  vm.precisionArr track by precision.value">

        </select>
    </div>
    <ng-map id="surgeMap" center="indore" style="width:100%; height:100%; position:fixed" zoom="{{vm.selectedPrecision.value+8}}">
        <div ng-repeat="arr in vm.geohashArray" class="geohashBox">
            <shape name="rectangle"
                   editable="false"
                   draggable="false"
                   fill-color="#000"
                   fill-opacity="0.1"
                   stroke-color="#000"
                   stroke-weight="1"
                   stroke-opacity="0.2"
                   bounds={{arr.boxBounds}}
                   on-bounds_changed="vm.boundsChanged()">

            </shape>
            <div class="geohashLabel"><label>{{arr.geoHash}}</label></div>

        </div>

    </ng-map>

            <div class="row geo-fence-tbl">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="panel panel-default ">
                        <div class="panel-heading">
                            <h4 style="margin-top: 0" class="title">Groups</h4>
                        </div>
                        <div class="panel-body">
                            <div style="max-height: 200px; height: 80%; overflow:auto;" ng-if="vm.geohashGroups.length>0">
                                <table class="table table-inverse table-bordered">
                                    <thead>
                                    <tr>
                                        <th width="30" class="text-center">#</th>
                                        <th>Name</th>
                                        <th width="30" class="text-center"><span class="fa fa-remove pointer"
                                                                                 ng-click="toggle = !toggle"
                                                                                 ng-class="{'red' : toggle}"></span>
                                        </th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="group in vm.geohashGroups">
                                        <td class="text-center">{{$index}}</td>
                                        <td>{{group.groupTitle}}</td>
                                        <td class="text-center"><span class="fa fa-remove pointer"
                                                                      ng-click="vm.removeGroup($index)"></span>
                                        </td>
                                        <td><span ng-click="vm.editGroup(group.groupId, $index)">Edit</span></td>
                                    </tr>

                                    </tbody>
                                </table>
                            </div>
                            <div ng-if="vm.geohashGroups.length<=0">No groups available</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="panel panel-default ">
                        <div class="panel-heading">
                            <h4 style="margin-top: 0" class="title">Geo Hash</h4>
                        </div>
                        <div class="panel-body">
                            <form role="form" class="form-horizontal" name="settingForm" novalidate>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label" >Duration</label>
                                    <div class="col-sm-4">
                                        <uib-timepicker ng-model="vm.setting.startTime" ng-change="changed()" hour-step="vm.hstep" minute-step="vm.mstep" show-meridian="ismeridian"></uib-timepicker>
                                     </div>
                                    <div class="col-sm-4">
                                        <uib-timepicker ng-model="vm.setting.endTime" ng-change="changed()" hour-step="vm.hstep" minute-step="vm.mstep" show-meridian="ismeridian"></uib-timepicker>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-3 control-label" >Geo Hash</label>
                                    <div class="col-sm-9">
                                        <div ng-if="vm.geohashArray.length>0">
                                            <span ng-repeat="box in vm.geohashArray"  class="label label-info">{{box.geoHash}}<button class="label-btn" ng-click="vm.removeGeoHash($index)">
                                                x
                                            </button></span>
                                        </div>
                                        <div ng-if="vm.geohashArray.length<=0">No geohash created</div>

                                        <p class="help-block"></p>
                                    </div>

                                </div>
                                <div class="form-group">
                                    <label for="IsSmallBusiness" class="col-md-3 control-label">Type</label>
                                    <div class="col-md-9">
                                        <label class="radio-inline">
                                            <input ng-model="vm.setting.type" type="radio" value="multiply" name="IsSmallBusiness" checked="checked">
                                            x
                                        </label>
                                        <label class="radio-inline">
                                            <input ng-model="vm.setting.type" type="radio" value="plus" name="IsSmallBusiness" >
                                            +
                                        </label>
                                        <p class="help-block"></p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label" for="inputCharge">Charge</label>

                                    <div class="col-sm-9">
                                        <input type="text" ng-model="vm.setting.value" placeholder="Charge" name="inputCharge" class="form-control" required>

                                        <div ng-messages="settingForm.inputCharge.$error" ng-if="settingForm.inputCharge.$touched">
                                            <div ng-message="required">This field is required</div>
                                        </div>
                                        <p class="help-block"></p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label" for="inputCharge">Driver Value</label>

                                    <div class="col-sm-9">
                                        <input type="text" ng-model="vm.setting.driverValue" placeholder="Driver Value" name="inputDriverValue" class="form-control" required>

                                        <div ng-messages="settingForm.inputDriverValue.$error" ng-if="settingForm.inputDriverValue.$touched">
                                            <div ng-message="required">This field is required</div>
                                        </div>
                                        <p class="help-block"></p>
                                    </div>
                                </div>



                                <div class="form-group">
                                    <label class="col-sm-3 control-label" for="inputCharge">Group Name</label>

                                    <div class="col-sm-9">
                                        <input type="text" placeholder="Group Title" name="inputGroupTitle"
                                               ng-model="vm.setting.groupTitle"
                                               class="form-control" required>
                                        <div ng-messages="settingForm.inputGroupTitle.$error" ng-if="settingForm.inputGroupTitle.$touched">
                                            <div ng-message="required">This field is required</div>
                                        </div>
                                        <p class="help-block"></p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-offset-3 col-sm-9">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" ng-model="vm.setting.forceConfirm"> Active
                                            </label>
                                        </div>
                                        <p class="help-block"></p>
                                        <button ng-click="vm.createSurge()" ng-disabled="!vm.geohashArray.length>0 || groupForm.$invalid"
                                                class="btn btn-default pull-left" type="submit">Save
                                        </button>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
</div>
<script type="text/ng-template"  id="editgroupTemplate.html">

    <div class="panel panel-info">
        <div class="panel-heading">Surge Settings</div>
        <div class="panel-body">
            <form role="form" class="form-horizontal">
                <div class="form-group">
                    <label for="IsSmallBusiness" class="col-md-3 control-label">Type</label>
                    <div class="col-md-9">
                        <label class="radio-inline">
                            <input type="radio" value="False" name="IsSmallBusiness" id="IsSmallBusiness" data-val-required="The IsSmallBusiness field is required." data-val="true" checked="checked">
                            x
                        </label>
                        <label class="radio-inline">
                            <input type="radio" value="True" name="IsSmallBusiness" id="IsSmallBusiness">
                            +
                        </label>
                        <p class="help-block"></p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label" for="inputCharge">Charge</label>

                    <div class="col-sm-9">
                        <input type="text" placeholder="Charge" id="inputCharge" class="form-control">

                        <p class="help-block"></p>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label" for="inputStartTime">Duration</label>

                    <div class="col-sm-9">
                        <input enabletimepicker="true" ng-change="vm.getAllData()"
                               class="form-control cstm-width text-center" type="daterange"
                               ng-model="selectedDates" separator=" - " format="MM/DD/YYYY h:mm A"
                               opens="left">

                        <p class="help-block"></p>
                    </div>
                </div>


                <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-9">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"> Active
                            </label>
                        </div>
                    </div>
                </div>

                <button class="btn btn-default pull-right" type="submit">Save Settings</button>
            </form>

        </div>
    </div>


    <!--<div class="dialog-contents" >
        <div class="panel panel-info">
            <div class="panel-heading">Surge Settings</div>
            <div class="panel-body">
                <form role="form" class="form-horizontal">
                    <div class="form-group">
                        <label for="IsSmallBusiness" class="col-md-3 control-label">Type</label>
                        <div class="col-md-9">
                            <label class="radio-inline">
                                <input type="radio" value="False" name="IsSmallBusiness" id="IsSmallBusiness" data-val-required="The IsSmallBusiness field is required." data-val="true" checked="checked">
                                x
                            </label>
                            <label class="radio-inline">
                                <input type="radio" value="True" name="IsSmallBusiness" id="IsSmallBusiness">
                                +
                            </label>
                            <p class="help-block"></p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="inputCharge">Charge</label>

                        <div class="col-sm-9">
                            <input type="text" placeholder="Charge" id="inputCharge" class="form-control">

                            <p class="help-block"></p>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="inputStartTime">Duration</label>

                        <div class="col-sm-9">
                            <input enabletimepicker="true" ng-change="vm.getAllData()"
                                   class="form-control cstm-width text-center" type="daterange"
                                   ng-model="selectedDates" separator=" - " format="MM/DD/YYYY h:mm A"
                                   opens="left">

                            <p class="help-block"></p>
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-9">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox"> Active
                                </label>
                            </div>
                        </div>
                    </div>

                    <button class="btn btn-default pull-right" type="submit">Save Settings</button>
                </form>

            </div>
        </div>
    </div>-->
</script>