<!-- 
<style>
body {
    background-color: #333;
    background-image:url("../../assets/images/blur-bg.jpg");
    background-size:cover;
    background-attachment: fixed;

}
</style>
 -->
<div class="container-fluid" ng-if="vm.overview">

    <div class="row">
        <form class="form-inline date-selection date-selection-dr ">

            <span ng-click="vm.changeDate('prev')" style=" position: absolute; left: 63px; top: 18px;">&#10094;</span>

            <div class="form-group ">
                <input class="form-control cstm-width text-left today-date-range hide-bdr" type="text" ng-model="date">
            </div>
            <span ng-click="vm.changeDate('next')" ng-if="!vm.live" style="position: absolute;right: 50px;top: 18px;">&#10095;</span>

            <div class="live" ng-if="vm.live"> LIVE</div>


        </form>
        <!--<form class="form-inline date-selection">
            <div class="form-group ">
                <input class="form-control cstm-width text-left today-date-range hide-bdr" type="text" ng-model="today">
                &lt;!&ndash;<input ng-disabled="true" class="form-control cstm-width text-center" type="daterange" ng-model="dates" separator=" - " format="DD MMM YY" opens="right" ranges="vm.ranges">&ndash;&gt;
            </div>
            <div class="live"> LIVE</div>
        </form>-->
    </div>
    <br>
    <br>
    <br>
    <br>
    <div class="row overview-box">
    <span class="reload" ng-click="vm.refreshPage()"><i class="fa fa-refresh" aria-hidden="true"></i>
</span>
        <div class="col-md-12 col-sm-12 col-xs-12 text-center">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="col-md-2 col-sm-4 col-xs-12 no-mr no-pd">
                        <div class="box box-heading box-1 text-center">
                            <h4 class="title">DRIVERS</h4>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-6">
                        <div class="box">
                            <h4 class="number">{{ vm.overview.driver.total_drivers}}</h4>
                            <span>Total</span>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-6">
                        <div class="box">
                            <h4 class="number">{{vm.overview.driver.free_drivers}}</h4>
                            <span>Free</span>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-6">
                        <div class="box">
                            <h4 class="number">{{vm.overview.driver.occupied_drivers}}</h4>
                            <span>Occupied</span>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-6">
                        <div class="box">
                            <h4 class="number">{{vm.overview.driver.online_drivers_percentage | number:2}}%</h4>
                            <span>Online</span>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-6">
                        <div class="box">
                            <h4 class="number">{{vm.overview.driver.utilization_percentage | number:2}}%</h4>
                            <span>Utilization</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12 text-center">
            <div class="panel panel-default">
                <div class="panel-body">

                    <div class="col-md-2  col-sm-4 col-xs-12 no-mr no-pd">
                        <div class="box box-heading box-2 text-center">
                            <h4 class="title">BOOKINGS</h4>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-6">
                        <div class="box">
                            <h4 class="number">{{vm.overview.trip.total_booking}}<small> / {{vm.overview.trip.unique_booking}}</small></h4>
                            <span>Total / U</span>
                        </div>
                    </div>

                    <div class="col-md-2 col-sm-4 col-xs-6">
                        <div class="box">
                            <h4 class="number">{{vm.overview.trip.successful.total}} <small> / {{ vm.overview.trip.successful.unique_riders}} / {{ vm.overview.trip.fulfillment | number:2}}%</small>
                              </h4>
                            <span>Fulfilled / U / Fulfilment</span>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-6">
                        <div class="box">
                            <h4 class="number">{{vm.overview.trip.cancelled.total}}<small> / {{ vm.overview.trip.cancelled.unique_rider}}</small></h4>
                            <span class="title text-warning">Cancelled / U</span>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-6">
                        <div class="box">
                            <h4 class="number">{{vm.overview.trip.failed.total}}<small> / {{ vm.overview.trip.failed.unique_rider}}</small></h4>
                            <span>Failed / U</span>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-6">
                        <div class="box">
                            <h4 class="number">{{ vm.overview.trip.in_process}}</h4>
                            <span>in Prog</span>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-12 col-xs-12 text-center">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="col-md-4 col-sm-4 col-xs-12 no-mr no-pd">
                        <div class="box box-heading box-3 text-center">
                            <h4 class="title">RIDERS</h4>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-6">
                        <div class="box">
                            <h4 class="number">{{vm.overview.rider.total_riders}}</h4>
                            <span>Total</span>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-6">
                        <div class="box">
                            <h4 class="number">{{vm.overview.rider.new_riders_reg}}</h4>
                            <span>New</span>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-12 col-xs-12 text-center">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="col-md-4 col-sm-4 col-xs-12 no-mr no-pd">
                        <div class="box box-heading box-4 text-center">
                            <h4 class="title">tCASH</h4>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-6">
                        <div class="box">
                            <h4 class="number">{{vm.overview.tcash.total_amount}}/-</h4>
                            <span>Total Amount</span>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-6">
                        <div class="box">
                            <h4 class="number">{{vm.overview.tcash.trip_affected}}</h4>
                            <span>Trips Affected</span>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 col-sm-12 col-xs-12" ngsf-fullscreen>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 style="margin-top: 0" class="title">Trips</h4></div>
                <div class="panel-body">
                    <div>
                        <nvd3 options="vm.tripChartOptions" data="vm.trips" config="vm.config"></nvd3>
                    </div>
                    <a ngsf-toggle-fullscreen show-if-fullscreen-enabled>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-12 col-xs-12"  ngsf-fullscreen>

            <div class="panel panel-default">
            <div class="panel-heading">
                    <div class="pull-right">
                    
                       <select name="mySelect" id="mySelect" ng-options="option.label for option in vm.heatMapFilers track by option.id" ng-model="vm.selected" ng-change="vm.loadHeatMap();"></select>
                        <span style="padding:0 10px 0 5px">{{vm.heatMapDataLength}}</span>
                        <a ngsf-toggle-fullscreen show-if-fullscreen-enabled style="color:#ccc;">
                        <i class="fa fa-arrows-alt" show-if-fullscreen=false></i>
                        <i show-if-fullscreen=true>X</i>
                    </a>
                    </div>
                    <h4 style="margin-top: 0" class="title">Heat Map</h4></div>
                <div class="panel-body">
                    
                    <div>
                        <ng-map zoom="13" center="[22.717081666666665, 75.87155666666666]"  on-resized="vm.resizeMap()" trigger-resize="true">
                            <heatmap-layer id="foo" data="heatMapData"></heatmap-layer>
                        </ng-map>
                    </div>
                    

<rzslider rz-slider-model="slider.minValue"
          rz-slider-high="slider.maxValue"
          rz-slider-options="slider.options">
          </rzslider>
                </div>
<br><br>
            </div>
        </div>
    </div>
</div>