<div class="container-fluid" ng-if="vm.overview">
    <div class="row" style="z-index:99; position:fixed; width:auto; padding:10px 0; left:53px;">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <span ng-click="vm.changeDate('prev')" style="display: inline-block; padding: 7px;">&#10094;</span>
            <span class="text-center" ng-model="date" style="display: inline-block; padding: 7px 0;">{{date}}</span> <span
                ng-click="vm.changeDate('next')" ng-if="!vm.live"
                style="display: inline-block; padding: 7px;">&#10095;</span>
        </div>
    </div>
    <span class="live" ng-if="vm.live"> LIVE</span>
    <span class="reload" ng-click="vm.refreshPage()"><i class="fa fa-refresh" aria-hidden="true"></i></span>
    <br>
    <br>
    <br>
    <br><br>

    <div class="row overview-box">
        <div class="col-md-12 col-sm-12 col-xs-12 text-center">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="col-md-2 col-sm-4 col-xs-12 no-mr no-pd">
                        <div class="box box-heading box-1 text-center">
                            <h4 class="title">DRIVERS</h4>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-6">
                        <div class="box">
                            <h4 class="number">{{ vm.overview.driver.total_drivers}}</h4>
                            <span>Total</span>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-6">
                        <div class="box">
                            <h4 class="number">{{vm.overview.driver.free_drivers}}</h4>
                            <span>Free</span>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-6">
                        <div class="box">
                            <h4 class="number">{{vm.overview.driver.occupied_drivers}}</h4>
                            <span>Occupied</span>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-6">
                        <div class="box">
                            <h4 class="number">{{vm.overview.driver.online_drivers_percentage | number:2}}%</h4>
                            <span>Online</span>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-6">
                        <div class="box">
                            <h4 class="number">{{vm.overview.driver.utilization_percentage | number:2}}%</h4>
                            <span>Utilization</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12 text-center">
            <div class="panel panel-default">
                <div class="panel-body">

                    <div class="col-md-2 col-sm-4 col-xs-12 no-mr no-pd">
                        <div class="box box-heading box-2 text-center">
                            <h4 class="title">BOOKINGS</h4>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-6">
                        <div class="box">
                            <h4 class="number">{{vm.overview.trip.total_booking}}
                                <small> / {{vm.overview.trip.unique_booking}}</small>
                            </h4>
                            <span>Total / U</span>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-6">
                        <div class="box">
                            <h4 class="number">{{vm.overview.trip.successful.total}}
                                <small> / {{ vm.overview.trip.successful.unique_riders}} / {{
                                    vm.overview.trip.fulfillment | number:2}}%
                                </small>
                            </h4>
                            <span>Fulfilled / U / Fulfilment</span>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-6">
                        <div class="box">
                            <h4 class="number" uib-popover-template="'myPopoverTemplate.html'"
                                popover-trigger="mouseenter">{{vm.overview.trip.cancelled.total}}
                                <small> / {{ vm.overview.trip.cancelled.total_unique_rider}}</small>
                            </h4>
                            <span class="title text-warning">Cancelled / U</span>

                            <!--<button uib-popover-template="'myPopoverTemplate.html'" type="button" class="btn btn-default">Popover With Template</button>-->
                        </div>
                    </div>
                    <div class="col-md-1 col-sm-4 col-xs-6">
                        <div class="box">
                            <h4 class="number">{{vm.overview.trip.before_allocation.total_count}}
                                <small> / {{ vm.overview.trip.before_allocation.unique_count }}</small>
                            </h4>
                            <span class="title text-warning">Can before Alloc / U</span>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-6">
                        <div class="box">
                            <h4 class="number">{{vm.overview.trip.failed.total}}
                                <small> / {{ vm.overview.trip.failed.unique_rider}}</small>
                            </h4>
                            <span>Failed / U</span>
                        </div>
                    </div>
                    <div class="col-md-1 col-sm-4 col-xs-6">
                        <div class="box">
                            <h4 class="number">{{ vm.overview.trip.in_process}}</h4>
                            <span>in Prog</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-12 col-xs-12 text-center">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="col-md-4 col-sm-4 col-xs-12 no-mr no-pd">
                        <div class="box box-heading box-3 text-center">
                            <h4 class="title">RIDERS</h4>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-6">
                        <div class="box">
                            <h4 class="number">{{vm.overview.rider.total_riders}}</h4>
                            <span>Total</span>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-6">
                        <div class="box">
                            <h4 class="number">{{vm.overview.rider.new_riders_reg}}</h4>
                            <span>New</span>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-12 col-xs-12 text-center">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="col-md-4 col-sm-4 col-xs-12 no-mr no-pd">
                        <div class="box box-heading box-4 text-center">
                            <h4 class="title">tCASH</h4>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-6">
                        <div class="box">
                            <h4 class="number">{{vm.overview.tcash.total_amount}}/-</h4>
                            <span>Total Amount</span>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-6">
                        <div class="box">
                            <h4 class="number">{{vm.overview.tcash.trip_affected}}</h4>
                            <span>Trips Affected</span>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 style="margin-top: 0" class="title">Trips</h4></div>
                <div class="panel-body">
                    <div>
                        <nvd3 options="vm.tripChartOptions" data="vm.trips" config="vm.config"></nvd3>
                    </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 style="margin-top: 0" class="title">Rides</h4></div>
                <div class="panel-body">
                    <div>
                        <nvd3 options="vm.newRidersChartOptions" data="vm.newRiders" config="vm.config"></nvd3>
                    </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 style="margin-top: 0" class="title">Cancelled Trips</h4></div>
                <div class="panel-body">
                    <div class="col-md-6 col-sm-6 col-xs-12 ">
                        <h5>By driver</h5>
                        <nvd3 options="vm.cancelTripByDriverChartOptions" data="vm.canceledTripByDriver" config="vm.config"></nvd3>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12 ">
                        <h5>By Rider</h5>
                        <nvd3 options="vm.cancelTripByRiderChartOptions" data="vm.canceledTripByRider" config="vm.config"></nvd3>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12" ngsf-fullscreen>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="pull-right">

                        <select name="mySelect" id="mySelect"
                                ng-options="option.label for option in vm.heatMapFilers track by option.id"
                                ng-model="vm.selected" ng-change="vm.loadHeatMap();"></select>
                        <span style="padding:0 10px 0 5px">{{vm.heatMapDataLength}}</span>
                        <a ngsf-toggle-fullscreen show-if-fullscreen-enabled style="color:#ccc;">
                            <i class="fa fa-arrows-alt" show-if-fullscreen=false></i>
                            <i show-if-fullscreen=true>X</i>
                        </a>
                    </div>
                    <h4 style="margin-top: 0" class="title">Heat Map</h4></div>
                <div class="panel-body">

                    <div>
                        <ng-map id="live_map" zoom="14" center="[22.717081666666665, 75.87155666666666]"
                                on-resized="vm.resizeMap()" trigger-resize="true" style="height:400px;">
                            <!--   <heatmap-layer id="foo" data="'heatMapData'"></heatmap-layer>-->
                        </ng-map>


                        <rzslider rz-slider-model="slider.minValue" rz-slider-high="slider.maxValue"
                                  rz-slider-options="slider.options">
                        </rzslider>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<script type="text/ng-template" id="myPopoverTemplate.html">

    <div class="box text-center">
        <h4 class="number no-mr">{{vm.overview.trip.cancelled.rider_cancelled}}
            <small>/ {{vm.overview.trip.cancelled.unique_rider_cancelled}}</small>
        </h4>
        <span>Rider Cancelled / u</span>
        <h4 class="number no-mr">{{vm.overview.trip.cancelled.driver_cancelled}}
            <small>/ {{vm.overview.trip.cancelled.unique_rider_cancelled_by_driver}}</small>
        </h4>
        <span>Driver Cancelled / u</span>

    </div>
</script>