<script type="text/ng-template" id="headerCheckbox.html">
    <input type="checkbox" ng-model="vm.offerCheckboxes.checked" class="select-all" value="" />
</script>
<script type="text/ng-template" id="driverCheckbox.html">
<input type="checkbox" ng-model="vm.driverCheckboxes.checked" class="select-all-drivers" value="" />
</script>
<div class="container-fluid">
    <div class="row">
        <form class="form-inline date-selection date-selection-dr">
            <div class="form-group ">
                <input ng-change="vm.getAllData()" class="form-control cstm-width text-center" type="daterange"
                       ng-model="selectedDates" separator=" - " format="DD MMM YY" opens="right" ranges="vm.ranges">
            </div>
        </form>
        <!--<div class="col-md-12 col-sm-12 col-xs-12">
            <span ng-click="vm.changeDate('prev')" style="display: inline-block; padding: 7px;">&#10094;</span> <span class="text-center" ng-model="date" style="display: inline-block; padding: 7px 0;">{{date}}</span> <span ng-click="vm.changeDate('next')" ng-if="!vm.live" style="display: inline-block; padding: 7px;">&#10095;</span>
        </div>-->
    </div>
    <span class="live" ng-if="vm.live"> LIVE</span>
    <span class="reload" ng-click="vm.refreshPage()"><i class="fa fa-refresh" aria-hidden="true"></i></span>
    <br>
    <br>
    <br>
    <br>
    <!--<div class="row overview-box">-->
    <!--<span class="reload" ng-click="vm.refreshPage()"><i class="fa fa-refresh" aria-hidden="true"></i>-->
    <!--</span>-->

    <!--<div class="col-md-12 col-sm-12 col-xs-12 text-center">-->
    <!--<div class="panel panel-default">-->
    <!--<div class="panel-body">-->
    <!--<div class="col-md-2 col-sm-12 col-xs-12 no-mr no-pd">-->
    <!--<div class="box box-heading box-2 text-center" ng-class="{'box-online': vm.profile.state== 22 || vm.profile.state== 11, 'box-offline': vm.profile.state== 10 } ">-->
    <!--<h4 class="title">Offers</h4>-->

    <!--</div>-->
    <!--</div>-->
    <!--<div class="col-md-10 col-sm-12 col-xs-12">-->
    <!--<div class="col-md-6 col-sm-4 col-xs-12">-->
    <!--<div class="box">-->
    <!--<h4 class="number">{{vm.profile.id}}</h4>-->
    <!--<span>id</span>-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="col-md-6 col-sm-4 col-xs-12">-->
    <!--<div class="box">-->
    <!--<h4 class="number">{{vm.profile.phone}}</h4>-->
    <!--<span>phone</span>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->

    <div class="row">
        <div class="col-md-4 col-sm-4 col-xs-12">

            <form class="form-inline">
                <div class="form-group">
                    <input type="text" class="form-control col-md-6 col-sm-6 col-xs-6" id="searchOffer"
                           placeholder="Enter Offer Code" ng-model="vm.offerTxt">
                </div>
                <button type="submit" class="btn btn-search" ng-click="vm.searchOffers()">
                    <span aria-hidden="true" class="glyphicon glyphicon-search"></span></button>
                <button type="submit" class="btn btn-search" ng-click="vm.clearOfferSearch()">
                    <span aria-hidden="true" class="glyphicon glyphicon-remove"></span></button>
            </form>
            <br>

            <div class="panel panel-default">
                <div class="panel-heading box-6">
                    <h4 style="margin-top: 0" class="title">Offers</h4></div>
                <div class="panel-body">
                    <table ng-table="offerTableParams" class="table table-bordered table-responsive">

                        <tbody>
                        <tr ng-repeat="row in $data track by $index">
                            <td header="'headerCheckbox.html'" width="30"><input type="checkbox" ng-model="vm.offerCheckboxes.items[row.id]"></td>
                            <td data-title="'Code'">{{row.code}}</td>
                            <td data-title="'Offer Detail'">{{row.description}}</td>
                            <td data-title="'Action'" class="text-center">
                                <button type="submit" class="btn btn-add" ng-click=" vm.addOffer(row)">
                                    <span aria-hidden="true" class="glyphicon glyphicon-plus"></span>
                                </button>
                            </td>
                        </tr>

                        </tbody>
                    </table>
                    <button type="submit" class="btn btn-default pull-right" ng-click="vm.addOffers()">
                        <span aria-hidden="true" class="glyphicon glyphicon glyphicon-chevron-down"></span> Add Offer(s)
                    </button>
                </div>
            </div>
        </div>
        <div class="col-md-8 col-sm-8 col-xs-12">
            <form class="form-inline">
                <div class="input-group col-md-3">
                    <select ng-model="vm.filterTerm" class="form-control"
                            ng-options="statusFilter.name for statusFilter in vm.filterFields track by statusFilter.value">
                        <option value="" disabled>Select Filter</option>
                    </select>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control col-md-6 col-sm-6 col-xs-6" id="searchDriver"
                           placeholder="Enter keyword" ng-model="vm.driverTxt">
                </div>
                <button type="submit" class="btn btn-search" ng-click="vm.searchDrivers()">
                    <span aria-hidden="true" class="glyphicon glyphicon-search"></span></button>
                <button type="submit" class="btn btn-search" ng-click="vm.clearDriverSearch()">
                    <span aria-hidden="true" class="glyphicon glyphicon-remove"></span></button>

            </form>
            <br>

            <div class="panel panel-default">
                <div class="panel-heading box-5">
                    <h4 style="margin-top: 0" class="title">Drivers</h4></div>
                <div class="panel-body">
                    <table ng-table="driverTableParams" class="table table-bordered table-responsive">
                           <tbody>
                        <tr ng-repeat="row in $data track by $index">
                            <td header="'driverCheckbox.html'" width="30"><input type="checkbox" ng-model="vm.driverCheckboxes.items[row.id]"></td>
                            <td data-title="'Name'">{{row.name}}</td>
                            <td data-title="'Driver Info'" class="hidden-xs">{{row.phone}}, {{row.vehicle}}</td>
                            <td data-title="'Assigned Offer(s)'">
                                <a ng-if="!row.offers" ng-click="vm.getDriverOffers(row)">Show</a>
                                <!--<span ng-if="row.offers" ng-repeat="offer in row.offers">{{offer}}<br></span>-->
                                 <span ng-if="row.offers" ng-repeat="offer in row.offers" class="label label-warning">{{offer}}
                                    <button class="label-btn" ng-click="vm.removeOffer($index)">x
                                    </button></span>
                            </td>
                            <td ata-title="'Action'" class="text-center">
                                <button type="submit" class="btn btn-add" ng-click=" vm.addDriver(row)">
                                    <span aria-hidden="true" class="glyphicon glyphicon-plus"></span>
                                </button>
                                <button type="submit" class="btn btn-del" ng-click=" vm.addDriver(row)">
                                    <span aria-hidden="true" class="glyphicon glyphicon-remove"></span>
                                </button>
                            </td>
                        </tr>

                        </tbody>
                    </table>
                    <button type="submit" class="btn btn-default pull-right" ng-click=" vm.addDrivers()">
                        <span aria-hidden="true" class="glyphicon glyphicon glyphicon-chevron-down"></span> Add
                        Driver(s)
                    </button>
                    <div ng-if="vm.driverExistError">Driver(s) Already selected</div>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 style="margin-top: 0" class="title">Confirmation</h4></div>
                <div class="panel-body">
                    <table class="table table-responsive no-mr">
                        <tr>
                            <td class="text-left">Offers</td>
                        </tr>
                        <tr>
                            <td class="text-left">
                                <span ng-if="vm.selectedOffers.length==0">No Offers Selected</span>
                                <span ng-if="vm.selectedOffers.length>0" class="label label-warning" ng-repeat="offer in vm.selectedOffers track by $index">{{offer.code}}
                                    <button class="label-btn" ng-click="vm.removeOffer($index)">x
                                    </button></span>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-left">
                                <hr class="hidden-xs">
                            </td>
                        </tr>
                    </table>
                    <table class="table table-responsive no-mr">
                        <tr>
                            <td class="text-left">Drivers</td>
                        </tr>
                        <tr>
                            <td class="text-left">
                                <span ng-if="vm.selectedDrivers.length==0">No Drivers Selected</span>
                                <span ng-if="vm.selectedDrivers.length>0" ng-repeat="driver in vm.selectedDrivers track by $index"
                                      class="label label-info">{{driver.name}} <button class="label-btn" ng-click="vm.removeDriver($index)">x
                                </button></span>

                            </td>
                        </tr>
                        <tr>
                            <td class="text-right">
                                <hr>
                                <button type="submit" class="btn btn-default" ng-click="vm.clearAll()">
                                    <span aria-hidden="true" class="glyphicon glyphicon-remove"></span> Clear
                                </button>
                                <button type="submit" class="btn btn-success" ng-click="vm.assignOffers()">
                                    <span aria-hidden="true" class="glyphicon glyphicon-ok"></span> Save
                                </button>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
